<body id="body">
  <div class="icon">
    <button onclick="printPage()" style="border: none; width: 20px">
      <i class="ri-printer-fill"></i>
    </button>
  </div>
  <div class="receipt-container" id="data">
    <div class="header">
      <img
        src="./IMG-20230508-WA0028.jpg"
        alt="Galgotias University Logo"
        class="logo"
      />
      <div class="sub1">
        <h2 class="school-name">SCHOOL OF COMPUTING SCIENCE & ENGINEERING</h2>
        <div class="contact-info">
          <p class="address">
            Plot No. 2, Sector-17A, Yamuna Expressway, Greater Noida, Gautam
            buddh Nagar, Uttar Pradesh, India Opposite, Buddha International
            Circuit, Sector 17A
          </p>
          <p class="phone">0120-4806827, 0120-4806824</p>
        </div>
      </div>
    </div>
    <div class="detail">
      <div class="receipt-details">
        <p class="receipt-no">Receipt No.: 2022-2023/GU/C23/186098</p>
        <p class="student-name">Student Name: Mr.X KUMAR SINGH</p>
        <p class="enrollment-no">Enrollment No.: 22SCSE1012530</p>
        <p class="cheque-dd-no">(Cheque/DD No.:)</p>
        <p class="payment-mode">Payment Mode: Cash</p>
        <p class="session">Session: 2022-2023</p>
      </div>
      <div class="date-info">
        <p class="date-of-receipt">Date of Receipt: 07/10/2022</p>
        <p class="date-of-deposit">Date of Deposit: 07/10/2022</p>
        <p class="class">Class: B.Tech (CSE) 2022-23 I</p>
        <p class="academic-year">Academic Year: 2022-2023</p>
        <p class="cheque-dd-date">Cheque/DD Date: 07/10/2022</p>
      </div>
    </div>
    <div class="payment-breakdown">
      <table class="table">
        <tr>
          <th>Sr. No.</th>
          <th>Particulars</th>
          <th>Amount</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Student ID Fee MISC</td>
          <td>1000.00</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Student ID Fee MISC</td>
          <td>1000.00</td>
        </tr>
        <tr>
          <td></td>
          <td>Total</td>
          <td>2000.00</td>
        </tr>
      </table>
    </div>
    <div class="footer">
      <p class="amount-in-words">Rupees One Thousand Only.</p>
      <p class="remark">ID Card Fees : <span>22222</span></p>
      <p class="erp-transaction">
        ERP Transaction Date-time: 07/10/2022 09:10:35
      </p>
    </div>
  </div>
</body>
<script type="text/javascript">
  function printPage() {
    var body = document.getElementById("body").innerHTML;
    var data = document.getElementById("data").innerHTML;

    document.getElementById("body").innerHTML = data;
    window.print();
    document.getElementById("body").innerHTML = body;
  }
</script>
