<div class="grid-container">
  <div class="header">
    <h1>Services</h1>
    <div class="content">
      <span><a href="#">Dashboard</a></span>
      <span><a href="#">/ Services</a></span>
      <span>
        <a>/Edit Id Card</a>
      </span>
    </div>
  </div>
  <div class="border-bottom"></div>
  <div class="main-container">
    <div class="filters">
      <div class="form-group">
        <label for="present-address">Father Name *</label>
        <textarea required="" id="present-address"></textarea>
      </div>
      <div class="form-group">
        <label for="Date-of-Birth ">Date of Birth *</label>
        <input id="Date of Birth " type="date" />
      </div>
      <div class="form-group">
        <label for="Email">Email *</label>
        <input id="Email" type="email" />
      </div>
      <div class="form-group">
        <label for="Contact-No.">Contact No. *</label>
        <input id="Contact-No." type="number" />
      </div>
      <div class="form-group">
        <label for="present-address">Present Address *</label>
        <textarea required="" id="present-address"></textarea>
      </div>
      <div class="form-group">
        <label for="permanent-address">Permanent Address *</label>
        <textarea required="" id="permanent-address"></textarea>
      </div>
      <div class="form-group">
        <label for="blood-group">Blood Group *</label>
        <input required="" id="blood-group" type="text" />
      </div>
      <div class="form-group">
        <label for="Profile-Image">Profile Image</label>
        <input id="Profile-Image" type="file" />
      </div>
    </div>
    <div>
      <button class="save-button" type="submit">Save</button>
    </div>
  </div>
</div>
