.active {
  background-color: #5c7594;
}
.menu {
  width: 200px;
  background-color:#042954;
  flex-shrink: 0;
  transition: width 0.3s, left 0.3s;
  position:sticky;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  overflow-y: auto;
}
.name {
  background: #FDC300;
  height: 50px;
  text-align: end;
  line-height: 50px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

.menu a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid #fff;
}

.menu.collapsed {
  width: 50px;
}

.menu.collapsed a {
  justify-content: center;
}

.menu.collapsed a span {
  display: none;
}

.menu.expanded {
  width: 200px;
}

#icon {
  color: #FDC300;
}

body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode nav {
  background-color: #333;
  color: #e0e0e0;
}

body.dark-mode .menu {
  background: #1e1e1e;
  color: #e0e0e0;
}

body.dark-mode .menu a {
  color: #e0e0e0;
  border-bottom: 1px solid #444;
}

@media screen and (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
  }
 
  .menu.expanded {
    width: 200px;
  }

  .menu.expanded a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu.expanded a span {
    display: inline;
  }
}








