<div class="item menu" [ngClass]="width">
  <div class="name"><span *ngIf="is_text_display_none" >I Portal</span>
    @if(width){
      <i class="ri-close-large-line" (click)="menu_expanded()"></i>
      }
      @else{
      <i class="ri-menu-line end" (click)="menu_collapsed()"></i>
      }
  </div>
  <a
    routerLink="/S-home"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ariaCurrentWhenActive="page" (click)="collapse()"
    ><i class="ri-dashboard-2-line" id="icon"></i> <span *ngIf="is_text_display_none" >Home</span>
    <i class="ri-arrow-right-s-line"></i
  ></a>
  <a
    routerLink="/S-dashboard"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ariaCurrentWhenActive="page" (click)="collapse()"
    ><i class="ri-dashboard-2-line" id="icon"></i> <span *ngIf="is_text_display_none">Dashboard</span>
    <i class="ri-arrow-right-s-line"></i
  ></a>
  <a routerLink="/quiz1" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="collapse()"
    ><i class="ri-slideshow-line" id="icon"></i> <span *ngIf="is_text_display_none">Quizzes</span>
    <i class="ri-arrow-right-s-line"></i
  ></a>
  <a
    routerLink="/courses"
    routerLinkActive="active" (click)="collapse()"
    [routerLinkActiveOptions]="{ exact: true }"
    ariaCurrentWhenActive="page"
    ><i class="ri-book-marked-line" id="icon"></i> <span *ngIf="is_text_display_none">Courses</span>
    <i class="ri-arrow-right-s-line"></i
  ></a>
  <a
    routerLink="/performance"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ariaCurrentWhenActive="page" (click)="collapse()"
    ><i class="ri-funds-box-line" id="icon"></i> <span *ngIf="is_text_display_none">Performance</span>
    <i class="ri-arrow-right-s-line"></i
  ></a>
  <a routerLink="/StudentAttendence" routerLinkActive="active" (click)="collapse()"
    ><i class="ri-calendar-todo-fill" id="icon"></i> <span *ngIf="is_text_display_none">Attendance</span>
    <i class="ri-arrow-right-s-line"></i
  ></a>
  <a routerLink="/timetable" routerLinkActive="active" routerLinkActive="active" (click)="collapse()"
    ><i class="ri-calendar-schedule-fill" id="icon"></i>
    <span *ngIf="is_text_display_none">Time Table</span> <i class="ri-arrow-right-s-line"></i
  ></a>
  <a routerLink="/fee" routerLinkActive="active" (click)="collapse()"
    ><i class="ri-money-rupee-circle-fill" id="icon"></i> <span *ngIf="is_text_display_none">Fees</span>
    <i class="ri-arrow-right-s-line"></i
  ></a>
  <a routerLink="/Open-SerComponent" routerLinkActive="active" (click)="collapse()"
    ><i class="ri-customer-service-fill" id="icon"></i> <span *ngIf="is_text_display_none">Services</span>
    <i class="ri-arrow-right-s-line"></i
  ></a>
  <a routerLink="/assignment-page" routerLinkActive="active" (click)="collapse()"
    ><i class="ri-article-line" id="icon"></i> <span *ngIf="is_text_display_none">Homework</span>
    <i class="ri-arrow-right-s-line"></i
  ></a>
  <!-- div  -->
  <a
    routerLink="/help"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ariaCurrentWhenActive="page" (click)="collapse()"
    ><i class="ri-question-line" id="icon"></i> <span *ngIf="is_text_display_none">Help & Support</span>
    <i class="ri-arrow-right-s-line"></i
  ></a>
</div>
