<div class="item menu">
  <div class="name">
    <i class="ri-menu-line"></i>
  </div>
  <a
    routerLink="/S-home"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ariaCurrentWhenActive="page"
    ><i class="ri-dashboard-2-line" id="icon"></i> <span>Dashboard</span>
    <i class="ri-arrow-right-s-line"></i
  ></a>
  <a
    routerLink="/quiz1"
    routerLinkActive="active"

    ariaCurrentWhenActive="page"
    ><i class="ri-slideshow-line" id="icon"></i> <span>Quizzes</span>
    <i class="ri-arrow-right-s-line"></i
  ></a>
  <a
    routerLink="/courses"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ariaCurrentWhenActive="page"
    ><i class="ri-book-marked-line" id="icon"></i> <span>Courses</span>
    <i class="ri-arrow-right-s-line"></i
  ></a>
  <a
    routerLink="/performance"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ariaCurrentWhenActive="page"
    ><i class="ri-funds-box-line" id="icon"></i> <span>Performance</span>
    <i class="ri-arrow-right-s-line"></i
  ></a>
  <a href="#"
    ><i class="ri-calendar-todo-fill" id="icon"></i> <span>Attendance</span>
    <i class="ri-arrow-right-s-line"></i
  ></a>
  <a routerLink="/timetable" routerLinkActive="active" routerLinkActive="active"
    ><i class="ri-calendar-schedule-fill" id="icon"></i>
    <span>Time Table</span> <i class="ri-arrow-right-s-line"></i
  ></a>
  <a routerLink="/fee"
    ><i class="ri-money-rupee-circle-fill" id="icon"></i> <span>Fees</span>
    <i class="ri-arrow-right-s-line"></i
  ></a>
  <a href="#"
    ><i class="ri-customer-service-fill" id="icon"></i> <span>Services</span>
    <i class="ri-arrow-right-s-line"></i
  ></a>
  <a routerLink="/#"
    ><i class="ri-article-line" id="icon"></i> <span>Homework</span>
    <i class="ri-arrow-right-s-line"></i
  ></a>
  <a
    routerLink="/help"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ariaCurrentWhenActive="page"
    ><i class="ri-question-line" id="icon"></i> <span>Help</span>
    <i class="ri-arrow-right-s-line"></i
  ></a>
</div>
