<img class="wave" src="/assets/images/bg2.jpg">

<div class="container">
  <div class="img">
    <img src="/assets/images/bg.svg" />
  </div>

  <div class="login-content">
    <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
      <img src="/assets/images/avatar.svg" />
      <h2 class="title">Welcome</h2>

      <!-- Identifier input -->
      <div
        class="input-div one"
        [class.focus]="isFieldFocused('identifier') || LoginForm.get('identifier')?.value">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <h5>EnrollmentNo or Email</h5>
          <input
            type="text"
            class="input"
            formControlName="identifier"
            (focus)="setFocus('identifier', true)"
            (blur)="setFocus('identifier', false)" />
        </div>
      </div>

      <!-- Password input -->
      <div
        class="input-div pass"
        [class.focus]="isFieldFocused('password') || LoginForm.get('password')?.value">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <h5>Password</h5>
          <input
            type="password"
            class="input"
            formControlName="password"
            (focus)="setFocus('password', true)"
            (blur)="setFocus('password', false)" />
        </div>
      </div>

      <a href="#">Forgot Password?</a>
      <button type="submit" class="btn">Login</button>
    </form>
  </div>
</div>
