<div class="main-container">
  @if(isEdit){
    <h2>EDIT STUDENT</h2>
  }
  @else {<h2>CREATE STUDENT</h2>}

  <br>

  <form >
    <div class="la">
    <label>Name</label>
  </div>
    <div>
      <input [(ngModel)]="student.name" name="name">
    </div>

    <label>Age</label>
    <div>
      <input [(ngModel)]="student.age" name="age" >
    </div>

    <label>Class</label>
    <div>
      <input [(ngModel)]="student.class" name="class">
    </div>

    <label>Section</label>
    <div>
      <input [(ngModel)]="student.section" name="section">
    </div>

    <label>Email</label>
    <div>
      <input [(ngModel)]="student.email" name="email">
    </div>

    <label>Mobile</label>
    <div>
      <input [(ngModel)]="student.mobile" name="mobile">
    </div>

    <label>Father's Name</label>
    <div>
      <input [(ngModel)]="student.fatherName" name="fatherName">
    </div>

    <div class="btn">
      @if(isEdit){
        <button type="submit" (click)="Save()">Update</button>
      }
      @else{
        <button type="submit" (click)="postStudentData()">Submit</button>
      }

      <button type="back" class="back">Back</button>
    </div>

  </form>
</div>
