<div class="student-course">
  <div class="header">
    <h1>All Classes</h1>
    <button (click)="openForm()">Add Class</button>
  </div>
</div>

<div class="form-area" id="formModel">
  <h1>
    {{ classForm.value.classId === 0 ? "Add Classes" : "Update Classes" }}
  </h1>

  <form [formGroup]="classForm" (ngSubmit)="addClass()">
    <div class="card-area">
      <div class="card">
        <input
          type="text"
          placeholder="Enter Class"
          formControlName="className"
        />
      </div>
    </div>
    <div class="button-area">
      <button type="submit" class="submit">
        {{ classForm.value.classId === 0 ? "Save" : "Update" }}
      </button>
      <button type="button" (click)="closeModel()" class="close">Close</button>
    </div>
  </form>
</div>

<div class="student-course">
  <table>
    <thead>
      <tr style="background: #ddd">
        <td>Sr. No</td>
        <td>All Classes</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let table of paginatedClasses; let i = index">
        <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
        <td>{{ table.className }}</td>
        <td class="action-button">
          <button class="edit" (click)="updateClass(table.classId)">
            Edit
          </button>
          <button class="delete" (click)="deleteClass(table.classId)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">
      Previous
    </button>
    <span>Page {{ currentPage }}</span>
    <button
      (click)="nextPage()"
      [disabled]="currentPage * pageSize >= classes.length"
    >
      Next
    </button>
  </div>
</div>
