<div class="leave-section">
    <div class="header">
        <h1>Leave Management</h1>
        <div class="content">
            <span><a href="#">Dashboard</a></span>
            <span>
                <p> / Leave</p>
            </span>
        </div>
    </div>
    <div class="border-bottom">

    </div>
    <div class="leave-area">
        <div class="card" routerLink="apply-leave">
            <i class="ri-calendar-check-line"></i>
            <p>Apply leave</p>
        </div>
        <div class="card" routerLink="view-balance">
            <i class="ri-calendar-check-line"></i>
            <p>View Balance</p>
        </div>
        <div class="card" routerLink="view-status">
            <i class="ri-calendar-check-line"></i>
            <p>View Application Status</p>
        </div>
        <div class="card" routerLink="cancel-leave">
            <i class="ri-calendar-check-line"></i>
            <p>Cancel Leave</p>
        </div>
        <div class="card" routerLink="holiday-calender">
            <i class="ri-calendar-2-line" id="icon5"> </i>
            <p>Holiday Calander</p>
        </div>
        <div class="card" routerLink="view-leave-book">
            <i class="ri-book-open-fill" id="icon6"></i>
            <p>View Leave Book</p>
        </div>
    </div>
</div>