* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
}

.leave-section {
  margin: 20px;
}

.leave-header {
  border-bottom: 2px solid #aaa;
  padding: 30px 0px 30px 0px;
}

.header-content {
  flex-grow: 1;
  padding: 20px 0 20px 50px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.leave-header h1 {
  margin-bottom: 10px;
}

#dash {
  color: blue;
}

.leave-area {
  display: flex;
  justify-content: center;
  gap: 2.5%;
  flex-wrap: wrap;
  margin-top: 70px;
}

.card {
  width: 23%;
  margin-bottom: 30px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  aspect-ratio: 1;
  max-height: 550px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card i {
  font-size: 70px;
  text-align: center;
  color: rgba(18, 112, 176, 1);
}

#icon5 {
  color: rgba(166, 0, 46, 1);
}

#icon6 {
  color: rgba(210, 15, 70, 1);
}

.card h4 {
  margin-top: 20px;
  font-size: 1.2em;
  width: 70%;
  text-align: center;
}

@media screen and (max-width:991px) {
  .leave-area {
    justify-content: space-between;
  }

  .card {
    width: 30%;
  }
}

@media screen and (max-width:767px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width:497px) {
  .header-content {
    padding: 10px;
  }

  .header-content h1 {
    font-size: 30px;
  }

  .leave-section {
    margin-left: 70px;
  }

  .leave-area {
    display: flex;
    justify-content: center;
  }

  .card {
    width: 70%;
  }

  .card i {
    font-size: 100px;
  }

  .card h4 {
    font-size: 2rem;
  }
}
