<div class="leave-section">
  <div class="leave-header">
      <div class="header-content">
          <h1>Leave Management</h1>
          <p><span id="dash">Dashboard</span><span> / Leave</span></p>
      </div>
  </div>
  <div class="leave-area">
      <div class="card" routerLink="apply-leave">
          <i class="fa-solid fa-calendar-check"></i>
          <h4>Apply leave</h4>
      </div>
      <div class="card" routerLink="view-balance" >
          <i class="fa-solid fa-calendar-check"></i>
          <h4>View Balance</h4>
      </div>
      <div class="card" routerLink="view-status" >
          <i class="fa-solid fa-calendar-check"></i>
          <h4>View Application Status</h4>
      </div>
      <div class="card" routerLink="cancel-leave">
          <i class="fa-solid fa-calendar-check"></i>
          <h4>Cancel Leave</h4>
      </div>
      <div class="card" routerLink="holiday-calender" >
          <i class="fa-solid fa-calendar-days" id="icon5"></i>
          <h4>Holiday Calander</h4>
      </div>
      <div class="card" routerLink="view-leave-book">
          <i class="fa-solid fa-book-open" id="icon6"></i>
          <h4>View Leave Book</h4>
      </div>
  </div>
</div>


