<div class="time-table-area">
  <div class="header">
    <h1>Student TimeTable</h1>
    <button (click)="openform()">Add Student TimeTable</button>
  </div>
  <div class="selected-area">
    <div class="area">
      <select name="" id="" [(ngModel)]="selectedClass" (change)="onClassChange($event)">
        <option value="0" disabled>Select a Class</option>
        @for(class of Classes;track $index){
        <option [value]="class.classId">{{ class.className }}</option>
        }
      </select>
    </div>
    <div class="area">
      <select name="" id="" [(ngModel)]="selectedSectionId" (change)="onSectionChange($event)">
        <option value="0" disabled>Select a Section</option>
        @for(section of Sections;track $index){
        <option [value]="section.sectionId">{{ section.sectionName }}</option>
        }
      </select>
    </div>
    <div class="area show">
      <button type="button" (click)="showTimeTable()">Show</button>
    </div>
  </div>
  <div class="section">
    <div class="table-container">
      @if(timetableForm && timeTable.length>0){
      <table>
        <thead>
          <tr>
            @for(heading of dayArray;track $index){
            <th>{{ heading }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for(table of timeTable;track $index){
          <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ table.timeSlot }}</td>
            <td style="color: blue">{{ table.sunday }}</td>
            <td>{{ table.monday }}</td>
            <td>{{ table.tuesday }}</td>
            <td>{{ table.wednesday }}</td>
            <td>{{ table.thursday }}</td>
            <td>{{ table.friday }}</td>
            <td>{{ table.saturday }}</td>
            <td class="action-button">
              <button class="edit" (click)="updateTimeTable(table.timetbaleId)">
                Edit
              </button>
              <button class="delete" (click)="deleteTimeTable(table.timetbaleId)">
                Delete
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
      } @else if (selectedClass==0 || selectedSectionId==0) {
      <h2 style="text-align: center; padding: 10px; font-weight: bold">
        Please select a Class and a Section
      </h2>
      } @else if(isSubjectDataEmpty && isCourseFound){
      <h2 style="text-align: center; padding: 10px; font-weight: bold">
        TimeTable Data Not Found
      </h2>
      }
    </div>
  </div>
</div>

<div class="form-area" id="formModel">
  @if(isEdit==false){
  <h1>Add Student TimeTable</h1>
  }
  @else {
  <h1>Update Student TimeTable</h1>
  }


  <form action="" [formGroup]="timetableForm" (ngSubmit)="onSubmit()">
    @if(isEdit==false){


    <div class="card-area">
      <!-- Class Selection -->
      <div class="card">
        <!-- <label for="classId">Class</label> -->
        <select id="classId" (change)="onClassChange($event)" formControlName="classId">
          <option value="" selected disabled>Select a Class</option>
          <ng-container *ngFor="let class of Classes; let i = index">
            <option [value]="class.classId">{{ class.className }}</option>
          </ng-container>
        </select>
      </div>

      <!-- Section Selection -->
      <div class="card">
        <!-- <label for="sectionId">Section</label> -->
        <select id="sectionId" formControlName="sectionId">
          <option value="" selected disabled>Select a Section</option>
          <ng-container *ngFor="let section of Sections; let i = index">
            <option [value]="section.sectionId">{{ section.sectionName }}</option>
          </ng-container>
        </select>
      </div>

      <!-- TimeTable Entries -->
      <div class="card-array" formArrayName="timeTableEntries">
        <div *ngFor="let entries of timeTableEntries.controls; let i = index" [formGroupName]="i" class="card-area">
          <!-- Time Slot Selection -->
          <div class="card">
            <!-- <label for="timeSlot{{ i }}">Time Slot</label> -->
            <select id="timeSlot{{ i }}" formControlName="timeSlot">
              <option value="" selected disabled>Select a timeslot</option>
              <ng-container *ngFor="let timeslot of timeSlotArray; let j = index">
                <option [value]="timeslot">{{ timeslot }}</option>
              </ng-container>
            </select>
          </div>

          <!-- Subject Inputs -->
          <div class="card">
            <!-- <label for="monday{{ i }}">Monday</label> -->
            <input id="monday{{ i }}" type="text" placeholder="Enter a Subject for Monday" formControlName="monday" />
          </div>

          <div class="card">
            <!-- <label for="tuesday{{ i }}">Tuesday</label> -->
            <input id="tuesday{{ i }}" type="text" placeholder="Enter a Subject for Tuesday"
              formControlName="tuesday" />
          </div>

          <div class="card">
            <!-- <label for="wednesday{{ i }}">Wednesday</label> -->
            <input id="wednesday{{ i }}" type="text" placeholder="Enter a Subject for Wednesday"
              formControlName="wednesday" />
          </div>

          <div class="card">
            <!-- <label for="thursday{{ i }}">Thursday</label> -->
            <input id="thursday{{ i }}" type="text" placeholder="Enter a Subject for Thursday"
              formControlName="thursday" />
          </div>

          <div class="card">
            <!-- <label for="friday{{ i }}">Friday</label> -->
            <input id="friday{{ i }}" type="text" placeholder="Enter a Subject for Friday" formControlName="friday" />
          </div>

          <div class="card">
            <!-- <label for="saturday{{ i }}">Saturday</label> -->
            <input id="saturday{{ i }}" type="text" placeholder="Enter a Subject for Saturday"
              formControlName="saturday" />
          </div>

          <!-- Remove Button -->
          <div class="card">
            <button type="button" (click)="removeTimeTableEntries(i)" class="close remove"
              *ngIf="timeTableEntries.length > 1">
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
    }
    @else {
    <div class="card-area">


      <div class="card">
        <!-- <label for="timeSlot{{ i }}">Time Slot</label> -->
        <select formControlName="timeSlot">
          <option value="" selected disabled>Select a timeslot</option>
          <ng-container *ngFor="let timeslot of timeSlotArray; let j = index">
            <option [value]="timeslot">{{ timeslot }}</option>
          </ng-container>
        </select>
      </div>

      <!-- Subject Inputs -->
      <div class="card">
        <!-- <label for="monday{{ i }}">Monday</label> -->
        <input type="text" placeholder="Enter a Subject for Monday" formControlName="monday" />
      </div>

      <div class="card">
        <!-- <label for="tuesday{{ i }}">Tuesday</label> -->
        <input type="text" placeholder="Enter a Subject for Tuesday" formControlName="tuesday" />
      </div>

      <div class="card">
        <!-- <label for="wednesday{{ i }}">Wednesday</label> -->
        <input type="text" placeholder="Enter a Subject for Wednesday" formControlName="wednesday" />
      </div>

      <div class="card">
        <!-- <label for="thursday{{ i }}">Thursday</label> -->
        <input type="text" placeholder="Enter a Subject for Thursday" formControlName="thursday" />
      </div>

      <div class="card">
        <!-- <label for="friday{{ i }}">Friday</label> -->
        <input type="text" placeholder="Enter a Subject for Friday" formControlName="friday" />
      </div>

      <div class="card">
        <!-- <label for="saturday{{ i }}">Saturday</label> -->
        <input type="text" placeholder="Enter a Subject for Saturday" formControlName="saturday" />
      </div>
    </div>
    }

    <div class="button-area">
      @if (isEdit==false) {
      <button type="button" (click)="addTimeTableEntries()" class="add-timetableentry-btn"
        style="margin-right: 20px;">Add Another
        Entry</button>
      <button type="submit" class="submit">Save</button>
      }
      @else {
      <button type="submit" class="submit">Update</button>
      }
      <button type="button" (click)="CloseModel()" class="close">Close</button>
    </div>
  </form>
</div>

<!-- ====================detail============= -->
<div class="time-table-area detail">
  <div class="header">
    <h1>Student TimeTable Details</h1>
    <button (click)="openform1()">Add Student TimeTable Details</button>
  </div>
  <div class="selected-area">
    <div class="area">
      <select name="" id="" [(ngModel)]="selectedClassDetail" (change)="onClassChange1($event)">
        <option value="0" disabled>Select a Class</option>
        @for(class of Classes1;track $index){
        <option [value]="class.classId">{{ class.className }}</option>
        }
      </select>
    </div>
    <div class="area">
      <select name="" id="" [(ngModel)]="selectedSectionIdDetail" (change)="onSectionChange1($event)">
        <option value="0" disabled>Select a Section</option>
        @for(section of Sections1;track $index){
        <option [value]="section.sectionId">{{ section.sectionName }}</option>
        }
      </select>
    </div>
    <div class="area show">
      <button type="button" (click)="showTimeTableDetail()">Show</button>
    </div>
  </div>
  <div class="section">
    <div class="table-container">
      @if(timetableDetailForm && timeTableDetail.length>0){
      <table>
        <thead>
          <tr>
            @for(heading of detailTable;track $index){
            <th>{{ heading }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for(data of timeTableDetail;track $index){
          <tr>
            <td>{{ data.day }}</td>
            <td>{{ data.time }}</td>
            <td>{{ data.teacherName }}</td>
            <td>{{ data.subject }}</td>

            <td class="action-button">
              <button class="edit" (click)="updateTimeTableDetail(data.timetableDetailsId)">
                Edit
              </button>
              <button class="delete" (click)="deleteTimeTableDetail(data.timetableDetailsId)">
                Delete
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
      } @else if (selectedClassDetail==0 || selectedSectionIdDetail==0) {
      <h2 style="text-align: center; padding: 10px; font-weight: bold">
        Please select a Class and a Section
      </h2>
      } @else if(isSubjectDataEmptyDetail && isCourseFoundDetail){
      <h2 style="text-align: center; padding: 10px; font-weight: bold">
        TimeTable Detail Data Not Found
      </h2>
      }
    </div>
  </div>
</div>

<div class="form-area" id="formModel1">
  @if(timetableDetailForm.value.timetableDetailsId==0){
  <h1>Add Student TimeTable detail</h1>
  } @else {
  <h1>Update Student TimeTable Detail</h1>
  }

  <form action="" [formGroup]="timetableDetailForm" (ngSubmit)="onSubmitDetail()">
    @if(timetableDetailForm.value.timetableDetailsId==0){
    <div class="card-area">
      <div class="card">
        <select name="" id="" (change)="onClassChange1($event)" formControlName="classId">
          <option value="" selected disabled>Select a Class</option>
          @for(class of Classes1;track $index){
          <option [value]="class.classId">{{ class.className }}</option>
          }
        </select>
      </div>
      <div class="card">
        <select name="" id="" formControlName="sectionId">
          <option value="" selected disabled>Select a Section</option>
          @for(section of Sections1;track $index){
          <option [value]="section.sectionId">{{ section.sectionName }}</option>
          }
        </select>
      </div>
      <div class="card">
        <select name="" id="" formControlName="time">
          <option value="" selected disabled>Select a timeslot</option>
          @for(timeslot of timeSlotArray;track $index){
          <option [value]="timeslot">{{ timeslot }}</option>
          }
        </select>
      </div>
      <div class="card">
        <input type="text" placeholder="Enter a Subject name" formControlName="subject" name="subject" />
      </div>
      <div class="card">
        <input type="text" placeholder="Enter a day" formControlName="day" name="day" />
      </div>
      <div class="card">
        <input type="text" placeholder="Enter subject teacher name" formControlName="teacherName" name="teacherName" />
      </div>
    </div>
    } @else {
    <div class="card-area">
      <div class="card-area">
        <div class="card">
          <select name="" id="" formControlName="time">
            <option value="" selected disabled>Select a timeslot</option>
            @for(timeslot of timeSlotArray;track $index){
            <option [value]="timeslot">{{ timeslot }}</option>
            }
          </select>
        </div>
        <div class="card">
          <input type="text" placeholder="Enter a Subject name" formControlName="subject" name="subject" />
        </div>
        <div class="card">
          <input type="text" placeholder="Enter a day...." formControlName="day" name="day" />
        </div>
        <div class="card">
          <input type="text" placeholder="Enter subject teacher name...." formControlName="teacherName"
            name="teacherName" />
        </div>
      </div>
    </div>
    }
    <div class="button-area">
      @if(timetableDetailForm.value.timetableDetailsId==0){
      <button type="submit" class="submit">Save</button>
      } @else {
      <button type="submit" class="submit">Update</button>
      }

      <button type="button" (click)="CloseModel1()" class="close">Close</button>
    </div>
  </form>
</div>