<div class="quiz-subject">
    <div class="header">
        <h1>Quiz Subjects</h1>
        <button (click)="openform()">Add Quiz Subjects</button>
    </div>
    <div class="selected-area">
        <div class="area">
            <select name="" id=""  [(ngModel)]="selectedClass" (change)="onClassChange($event)">
                <option value="0"  disabled>Select a Class</option>
                @for(class of Classes;track $index){
                <option [value]="class.classId">{{class.className}}</option>
                }
            </select>
        </div>
        <div class="area">
            <select name="" id=""  [(ngModel)]="selectedSectionId" (change)="onSectionChange($event)">
                <option value="0" disabled>Select a Section</option>
                @for(section of Sections;track $index){
                <option [value]="section.sectionId">{{section.sectionName}}</option>
                }
            </select>
        </div>
        <div class="area show">
            <button type="button" (click)="showCourse()">Show</button>
        </div>
    </div>
    <div class="section">
        <div class="table-container">
            @if(quizform && Subjects.length>0){
            <table>
                <thead>
                    <tr>
                        @for(head of subjectHeading;track $index){
                        <th>{{head}}</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for(subject of Subjects;track $index){
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{subject.subjectName}}</td>
                        <td>{{subject.subjectCode}}</td>
                        <td class="action-button">
                            <button class="edit">Edit</button>
                            <button class="delete">Delete</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            }
            @else if (selectedClass==0 || selectedSectionId==0) {
                <h2 style="text-align: center; padding: 10px; font-weight: bold;">Please select a Class and a Section</h2>
            }
            @else if(isSubjectDataEmpty && isCourseFound){
            <h2 style="text-align: center; padding: 10px; font-weight: bold;">Subject Data Not Found</h2>
            }
        </div>
    </div>
</div>



<div class="form-area" id="formModel">
    <h1>Add Quiz Subjects</h1>
    <form action="" [formGroup]="quizform" (ngSubmit)="onSubmit()">
        <div class="card-area">
            <div class="card">
                <select name="" id="" (change)="onClassChange($event)" formControlName="classId">
                    <option value="0" selected disabled>Select a Class</option>
                    @for(class of Classes;track $index){
                    <option [value]="class.classId">{{class.className}}</option>
                    }
                </select>
            </div>
            <div class="card">
                <select name="" id="" formControlName="sectionId">
                    <option value="0" selected disabled>Select a Section</option>
                    @for(section of Sections;track $index){
                    <option [value]="section.sectionId">{{section.sectionName}}</option>
                    }
                </select>
            </div>
            <div class="card">
                <input type="text" placeholder="Enter SubjectName" formControlName="subjectName" name="subjectName">
            </div>
            <div class="card">
                <input type="text" placeholder="Enter SubjectCode" formControlName="subjectCode" name="subjectCode">
            </div>
        </div>
        <div class="button-area">
            <button type="submit" class="submit">Save</button>
            <button type="button" (click)="CloseModel()" class="close">Close</button>
        </div>
    </form>
</div>