<div class="cancel-leave-area">
    <div class="header">
        <h1>Leave Management</h1>
        <div class="content">
            <span><a href="#">Dashboard</a></span>
            <span><a href="#">/ Leave</a></span>
            <span>
                <p> / Cancel Leave</p>
            </span>
        </div>
    </div>
    <div class="border-bottom">
        
    </div>
    <div class="table-section">
        <div class="first-table">
            <table>
                <caption>Cancel Applied Leave</caption>
                <thead>
                    <tr>
                        <th>Leave type</th>
                        <th>Leave Ref.No</th>
                        <th>Applied Date</th>
                        <th>Attachment</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>30/03/2025</td>
                        <td>
                            <input type="file" id="file">
                        </td>
                        <td>pending</td>
                        <td>
                            <button type="button">Cancel</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>30/03/2025</td>
                        <td>
                            <input type="file" id="file">
                        </td>
                        <td>Pending</td>
                        <td><button type="button">Cancel</button></td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>30/03/2025</td>
                        <td>
                            <input type="file" id="file">
                        </td>
                        <td>Pending</td>
                        <td><button type="button">Cancel</button></td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>30/03/2025</td>
                        <td>
                            <input type="file" id="file">
                        </td>
                        <td>Pending</td>
                        <td><button type="button">Cancel</button></td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>30/03/2025</td>
                        <td>
                            <input type="file" id="file">
                        </td>
                        <td>Pending</td>
                        <td><button type="button">Cancel</button></td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>30/03/2025</td>
                        <td>
                            <input type="file" id="file">
                        </td>
                        <td>Pending</td>
                        <td><button type="button">Cancel</button></td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>30/03/2025</td>
                        <td>
                            <input type="file" id="file">
                        </td>
                        <td>Pending</td>
                        <td><button type="button">Cancel</button></td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div class="second-table">
            <table>
                <caption>Cancel Leave Status</caption>
                <thead>
                    <tr>
                        <th>Leave Type</th>
                        <th>Leave Ref.No</th>
                        <th>Applied Date</th>
                        <th>Cancellation Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>pending</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>