.cancel-leave-area {
    margin-top: 10px;
    padding: 10px;
}

.header {
    width: 100%;
    height: 75px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.header h1 {
    font-size: 25px;
    padding: 5px;
    margin: 5px;
    padding-top: 5px;
    margin-top: 0px;
}

.header a {
    text-decoration: none;
    color: #007bff;
    display: inline;
    padding: 5px 0 5px 5px;
    margin-left: 5px;
}

.header p {
    display: inline;
}
.border-bottom{
    margin-top: 20px;
    border-bottom: 2px solid #aaa;
  }
  .content{
    padding-bottom: 10px;
  }

.first-table,
.second-table {
    margin: 30px 0 50px 0;
    max-height: 300px;
    border-radius: 10px;
    width: 100%;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
}
th{
    padding: 10px 0px;
    font-size: 15px;
}

caption {
    position: sticky;
    top: 0;
    padding: 5px 0px;
    background-color: #4394DF;
    font-size: 1.3rem;
    color: white;
}

thead {
    position: sticky;
    top: 34.7px;
    background: #f1f1f1;
}

#file::file-selector-button {
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
}
#file::file-selector-button:hover{
    cursor: pointer;
}
button {
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;
    background-color: red;
    color: white;
}
button:hover{
    cursor: pointer;
}

@media screen and (max-width:991px){
      th,td,#file::file-selector-button,button{
        font-size: 13px;
      }
      #file::file-selector-button{
        padding: 2px;
        border-radius: 8px;
      }
      th,td{
        padding: 10px 5px;
      }
      button{
        padding: 3px;
      }
}
@media screen and (max-width:768px) {
    .cancel-leave-area {
        margin-left: 60px;
    }
    table{
        min-width: 780px;
    }
}
@media screen and (max-width:497px){
    .cancel-leave-area {
        margin-left:50px;
        overflow-x: hidden;
    }
    .header-content {
        padding: 10px 0 10px 10px;
    }
}