<div class="container">
        <!-- Top Summary Section -->
        <div class="summary">
            <div class="box">
                <i class="fa-solid fa-file-lines"></i>
                <div class="data">
                    <span class="value">225/365</span>
                    <span class="percentage">78%</span>
                </div>
                <div class="label">Attendance</div>
            </div>
            <div class="box">
                <i class="fa-solid fa-square-poll-vertical"></i>
                <div class="data">
                    <span class="value">C.G.P.A</span>
                    <span class="percentage">10.0</span>
                </div>
                <div class="label">Performance</div>
            </div>
            <div class="box">
                <i class="fa-solid fa-newspaper"></i>
                <div class="data">
                    <span class="value">Pending/Completed</span>
                    <span class="percentage">0/5</span>
                </div>
                <div class="label">Assignments</div>
            </div>
            <div class="box">
                <i class="fa-solid fa-dollar-sign"></i>
                <div class="data">
                    <span class="value">Pending/Paid</span>
                    <span class="percentage">PAID</span>
                </div>
                <div class="label">Fees</div>
            </div>
        </div>
        <div class="main-content">
            <div class="left">
                <div class="section">
                    <div class="section-header">Time Table</div>
                    <div class="section-body">
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="section">
                    <div class="section-header">Announcements</div>
                    <div class="section-body">
                       
                    </div>
                </div>
                <div class="section">
                    <div class="section-header">Important Links</div>
                    <div class="section-body">
                    </div>
                </div>
            </div>
        </div>
    </div>

