.attendance-details {
  width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow:  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    

}

.attendance-details h1 {
  margin: 10px 0; /* Spacing between the headings */
  font-size: 20px; /* Consistent font size */
  color: #333; /* Dark text for readability */
}

.attendance-details .class-name {
  color: #050806; /* Blue color for class name */
  font-weight: bold; /* Make class name bold */
}

.attendance-details .section-name {
  color: #050806; /* Green color for section name */
  font-weight: bold; /* Make section name bold */
}

.attendance-details .teacher-name {
  color: #050806; /* Red color for teacher name */
  font-style: italic; /* Add an italic style for teacher name */
}

.attendance-details .img {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Same as the card */
}

