<div class="home-section">
  <div class="card" routerLink="">
    <img src="assets/images/stu manage teacher.png" alt="">
    <p>Management</p>
  </div>
  <div class="card" routerLink="Tquizzes">
    <img src="assets/images/quiz teacher.png" alt="">
    <p>Quizzes</p>
  </div>
  <div class="card" routerLink="T-attendence">
    <img src="assets/images/attendance teacher.png" alt="">
    <p>Attendance</p>
  </div>
  <div class="card">
    <img src="assets/images/time table teacher.jpg" alt="" routerLink="">
    <p>Time-Table</p>
  </div>
  <div class="card">
    <img src="assets/images/salary teacher.jpg" alt="">
    <p>Salary</p>
  </div>
  <div class="card">
    <img src="assets/images/reports teacher.png" alt="">
    <p>Reports</p>
  </div>
  <div class="card" routerLink="T-homework">
    <img src="assets/images/homework teacher.jpg" alt="">
    <p>Homework</p>
  </div>
  <div class="card" routerLink="leave">
    <img src="assets/images/leave teacher.jpg" alt="">
    <p>Leave</p>
  </div>

  <div class="card" routerLink="tHelp">
    <img src="assets/images/help icon.png" alt="">
    <p>Help</p>
  </div>
</div>
