<div class="grid-container">
  <div class="header">
    <h1>Performance</h1>
    <div>
      <span><a href="#">Dashboard</a></span>
      <span>
        <p>/ Performance</p>
      </span>
    </div>
  </div>
  <div class="filters">
    <select id="academicYear">
      <option value="">Academic Year</option>
      <option value="">2024</option>
      <option value="">2023</option>
      <option value="">2022</option>
      <option value="">2021</option>

    </select>
    <select id="section">
      <option value="">Section</option>
      <!-- Add options here -->
    </select>
    <select id="class">
      <option value="">Class</option>
      <!-- Add options here -->
    </select>
    <select id="examSchedule">
      <option value="">Exam Schedule</option>
      <!-- Add options here -->
    </select>
    <select id="examName">
      <option value="">Exam Name</option>
      <!-- Add options here -->
    </select>
  </div>
  <table>
    <thead>
      <tr>
        <th>Sr. No.</th>
        <th>Subject Code</th>
        <th>Subject Name</th>
        <th>Quiz 1</th>
        <th>Mid Term</th>
        <th>Quiz 2</th>
        <th>End Term</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>R1UC402T</td>
        <td>Data Analytics - PP</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td>R1UC402T</td>
        <td>Operating System - PP</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>3</td>
        <td>R1UC404B</td>
        <td>Analysis and Design of Algorithms - PP</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>4</td>
        <td>R1UC403B</td>
        <td>Verbal and Quantitative Reasoning - 1 - PR</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>5</td>
        <td>R1UC405C</td>
        <td>Programming in Python - PP</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>6</td>
        <td>O1UA422L</td>
        <td>Computer Networks - PP</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="actions">
    <button>Print</button>
    <button>Download</button>
  </div>
</div>
