<!-- <div class="text">MAIN MENU</div>
<ul class="m">
 
  <li>
    <a routerLink="/Id-CardComponent"
      >Apply For ID Card
      <span class="ri-arrow-right-s-fill second"></span>
    </a>
  </li>
  <li>
    <a routerLink="/Edit-IdCardComponent"
      >Edit ID Card
      <span class="ri-arrow-right-s-fill second"></span>
    </a>
  </li>

  <li>
    <a routerLink="/Transport-ServiceComponent" class="serv-btn"
      >Transport Service
      <span class="ri-arrow-right-s-fill second"></span>
    </a>
  </li>

  <li>
    <a routerLink="/Change-CurrentPickPlaceComponent"
      >Change Pickup Time
      <span class="ri-arrow-right-s-fill second"></span>
    </a>
  </li>

  <li>
    <a routerLink="/Free-StructComponent"
      >Fees Structure
      <span class="ri-arrow-right-s-fill second"></span>
    </a>
  </li>
  <li>
    <a routerLink="/Medical-ServicesComponent"
      >Medical Service
      <span class="ri-arrow-right-s-fill second"></span>
    </a>
  </li>
  <li>
    <a href="#"
      >Library Service
      <span class="ri-arrow-right-s-fill second"></span>
    </a>
  </li>
</ul> -->

<div class="quiz-container">
  <div class="header-area">
    <div class="header">
      <h1>Homework</h1>
      <div class="content">
        <span><a href="#">Dashboard</a></span>
        <span>
          <p>/ Homework</p>
        </span>
      </div>
    </div>
  </div>
  <div class="border-bottom"></div>
  <div class="card-section">
    <div class="card" routerLink="/Id-CardComponent">
      <i class="ri-book-2-fill"></i>
      <p>Apply For ID Card</p>
    </div>
    <div class="card" routerLink="/Edit-IdCardComponent">
      <i class="ri-book-2-fill"></i>
      <p>Edit ID Card</p>
    </div>
    <div class="card" routerLink="/Transport-ServiceComponent">
      <i class="ri-book-2-fill"></i>
      <p>Transport Service</p>
    </div>
    <div class="card" routerLink="/Change-CurrentPickPlaceComponent">
      <i class="ri-book-2-fill"></i>
      <p>Change Pickup Time</p>
    </div>

    <div class="card" routerLink="/Free-StructComponent">
      <i class="ri-book-2-fill"></i>
      <p>Fees Structure</p>
    </div>
    <div class="card" routerLink="/Medical-ServicesComponent">
      <i class="ri-book-2-fill"></i>
      <p>Medical Service</p>
    </div>
    <div class="card">
      <i class="ri-book-2-fill"></i>
      <p>Library Service</p>
    </div>
  </div>
</div>
