<div class="item menu">
  <div class="name">
    <i class="ri-menu-line"></i>
  </div>
  <a routerLink="/ahome" routerLinkActive="active"><i class="ri-dashboard-2-line" id="icon"></i>
    <span>Dashboard</span> <i class="ri-arrow-right-s-line"></i>
  </a>
  <a routerLink="/viewstudent" routerLinkActive="active"><i class="fa-solid fa-building-columns" id="icon"></i>
    <span> Add Student</span> <i class="ri-arrow-right-s-line"></i>
  </a>

  <a routerLink="g" routerLinkActive="active"><i class="ri-slideshow-line" id="icon"></i>
    <span>Add Teacher</span> <i class="ri-arrow-right-s-line"></i>
  </a>



</div>
