<!-- <div class="main-content"> -->
<div class="grid-container">
  <div class="header">
    <h1>Time Table</h1>
    <div class="content">
      <span><a href="#">Dashboard</a></span>
      <span>
        <p>/ Time table</p>
      </span>
    </div>
  </div>
  <div class="border-bottom"></div>
  <div class="timetable-container">
    <h2 class="title">Class Timetable</h2>
    <table class="timetable">
      <thead>
        <tr>
          <th>Day</th>
          <th>Time</th>
          <th>Subject</th>
          <th>Class Name</th>
          <th>Section</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of teacherTimeTable">
          <td>{{ item.Day }}</td>
          <td>{{ item.Time }}</td>
          <td>{{ item.Subject }}</td>
          <td>{{ item.ClassName }}</td>
          <td>{{ item.SectionName }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<!-- </div> -->