* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.grid-container {
  margin-top: 10px;
  padding: 10px;
}

.header {
  width: 100%;
  height: 75px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.header h1 {
  font-size: 25px;
  padding: 5px;
  margin: 5px;
  padding-top: 5px;
  margin-top: 0px;
}

.header a {
  text-decoration: none;
  color: #007bff;
  display: inline;
  padding: 5px 0 5px 5px;
  margin-left: 5px;
}

.header p {
  display: inline;
}

.border-bottom {
  margin-top: 20px;
  border-bottom: 2px solid #aaa;
}

.content {
  padding-bottom: 10px;
}

.timetable-container {
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  text-align: center;
}

.title {
  font-size: 24px;
  color: #4CAF50;
  margin-bottom: 20px;
}

.timetable {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.timetable th,
.timetable td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #ddd;
}

.timetable th {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}

.timetable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.timetable tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.timetable td {
  color: #555;
}