* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.grid-container {
  margin-top: 10px;
  padding: 10px;
}

.header {
  width: 100%;
  height: 75px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.header h1 {
  font-size: 25px;
  padding: 5px;
  margin: 5px;
  padding-top: 5px;
  margin-top: 0px;
}

.header a {
  text-decoration: none;
  color: #007bff;
  display: inline;
  padding: 5px 0 5px 5px;
  margin-left: 5px;
}

.header p {
  display: inline;
}

.border-bottom {
  margin-top: 20px;
  border-bottom: 2px solid #aaa;
}

.content {
  padding-bottom: 10px;
}

.timetable-container {
  background: linear-gradient(to bottom, #f8f9fa, #e3e4e6);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.timetable-container .title {
  margin: 20px 0;
  font-size: 22px;
  color: #333;
  font-weight: bold;
}

.timetable {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
}

.timetable th,
.timetable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

td span {
  margin-right: 10px;
}

.timetable th {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}

.timetable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.timetable tr:hover {
  background-color: #f1f1f1;
}

.timetable td {
  font-size: 14px;
  color: #555;
}

.timetable td br {
  margin-bottom: 5px;
}

/* Styling for empty cells */
.timetable .empty-cell {
  background-color: #f8f8f8;
  color: #aaa;
  font-style: italic;
  border: 1px dashed #ccc;
}
.timetable td span {
  font-weight: bold;
  color: #555;
  /* display: block; */
  margin-bottom: 4px;
}

.empty-cell span {
  color: #999;
  font-style: italic;
}


