* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
}

.view-balance-area {
  margin-top: 10px;
  padding: 10px;
}

.header {
  width: 100%;
  height: 70px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.header h1 {
  font-size: 25px;
  padding: 5px;
  margin: 5px;
  padding-top: 0px;
  margin-top: 0px;
}

.header a {
  text-decoration: none;
  color: #007bff;
  display: inline;
  padding: 5px 0 5px 5px;
  margin-left: 5px;
}

.header p {
  display: inline;
}
.border-bottom{
  margin-top: 20px;
  border-bottom: 2px solid #aaa;
}
.balance-section {
  margin-top: 40px;
  border-radius: 10px;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.header-section {
  margin-top: 20px;
  border-radius: 10px;
  border-top: 5px solid rgba(0, 157, 179, 1);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.header-section h2 {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
}

.balance-table{
  width: 100%;
  overflow: auto;
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
table {
  width: 100%;
  border-spacing: 0;
}

th {
  border: 1px solid #ddd;
  padding: 10px ;
  text-align: center;
}

td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px ;
}
tr:nth-child(even){
  background-color: #f1f1f1;
}
thead {
  position: sticky;
  top: 0px;
  background: #aaa;
}

@media screen  and  (max-width:768px){
  .view-balance-area{
      margin-left: 60px;
  }
  .balance-section{
      padding: 0 5%;
  }
}
@media screen  and  (max-width:497px){
  .view-balance-area{
      margin-left: 50px;
  }
  .header-content {
      padding: 10px;
  }

  .header-content h1 {
      font-size: 30px;
  }
  .header-section h2{
      font-size: 20px;
  }
}
