<div class="time-table-section">
  <div class="header">
    <h1>Time Table</h1>
    <div class="content">
      <span><a href="#">Dashboard</a></span>
      <span>
        <p>/ Time Table</p>
      </span>
    </div>
  </div>
  <div class="border-bottom"></div>

  <div class="first-table">
    <table>
      <caption>
        Timetable of 2024-25 for Class xyz
      </caption>
      <thead>
        <tr>
          @for(header of tableHeader;track $index){
          <th>{{ header }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for(timetable of timeTable;track $index){
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ timetable.timeSlot }}</td>
          <td style="color: blue">{{ timetable.sunday }}</td>
          <td>{{ timetable.monday }}</td>
          <td>{{ timetable.tuesday }}</td>
          <td>{{ timetable.wednesday }}</td>
          <td>{{ timetable.thursday }}</td>
          <td>{{ timetable.friday }}</td>
          <td>{{ timetable.saturday }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="third-table">
    <table>
      <caption>
        Timetable Details
      </caption>
      <thead>
        <tr>
            @for(header of tableDetailHeader;track $index){
                <th>{{ header }}</th>
                }
        </tr>
      </thead>
      <tbody>
        @for(data of timeTableDetail;track $index){
            <tr>
              <td>{{ data.Day }}</td>
              <td>{{ data.Time }}</td>
              <td>{{ data.TeacherName }}</td>
              <td>{{ data.Subject }}</td>

            </tr>
            }
      </tbody>
    </table>
  </div>
</div>
