<div class="grid-container">
    <div class="header">
        <h1>Homework</h1>
        <div class="content">
            <span><a href="#">Dashboard</a></span>
            <span><a href="#">/ Homework</a></span>
            <span>
                <p>/ Give Homework</p>
            </span>
        </div>
    </div>
    <div class="border-bottom"></div>
    <div class="main-container">
        <div>
            <h1>Given Homework</h1>
        </div>
        <div class="filter">
            <div class="card-section">
                <div class="card">
                    <p>Class :</p>
                    <select id="class" aria-placeholder="Please select">
                        <option value="0" selected disabled>Select class</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="card">
                    <p>Section :</p>
                    <select id="class" aria-placeholder="Please select">
                        <option value="0" selected disabled>Select section</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="card">
                    <p>Subject :</p>
                    <select id="class" aria-placeholder="Please select">
                        <option value="0" selected disabled>Select subject</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
            <div class="submit-button">
                <button id="submit">Submit</button>
            </div>
            <textarea name="" id="" class="given"></textarea>
            <div class="submit-button btn">
                <button id="submit">Submit</button>
            </div>
        </div>
    </div>
</div>