<div class="cancel-leave-area">
  <div class="cancel-header">
      <div class="header-content">
          <h1>Leave Management</h1>
          <p><span id="dash">Dashboard</span><span id="dash"> / Leave</span><span> / Cancel Leave</span></p>
      </div>
  </div>
  <div class="table-section">
      <div class="first-table">
          <table>
              <caption>Cancel Applied Leave</caption>
              <thead>
                  <tr>
                      <th>Leave Type</th>
                      <th>Leave Ref.No.</th>
                      <th>Applied Date</th>
                      <th>From</th>
                      <th>To</th>
                      <th>Leave Status</th>
                      <th>Pending At</th>
                      <th>Approved/Rejected By</th>
                      <th>Attachment</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>

                  <tr>
                      <td>Vacation</td>
                      <td>123456</td>
                      <td>18/06/2004</td>
                      <td>Delhi</td>
                      <td>Patna</td>
                      <td>Pending</td>
                      <td>Admin</td>
                      <td>Admin</td>
                      <td>
                          <input type="file" class="files">
                      </td>
                      <td>Cancel</td>
                  </tr>
                  <tr>
                      <td>Vacation</td>
                      <td>123456</td>
                      <td>18/06/2004</td>
                      <td>Delhi</td>
                      <td>Patna</td>
                      <td>Pending</td>
                      <td>Admin</td>
                      <td>Admin</td>
                      <td>
                          <input type="file" class="files">
                      </td>
                      <td>Cancel</td>
                  </tr>
                  <tr>
                      <td>Vacation</td>
                      <td>123456</td>
                      <td>18/06/2004</td>
                      <td>Delhi</td>
                      <td>Patna</td>
                      <td>Pending</td>
                      <td>Admin</td>
                      <td>Admin</td>
                      <td>
                          <input type="file" class="files">
                      </td>
                      <td>Cancel</td>
                  </tr>
                  <tr>
                      <td>Vacation</td>
                      <td>123456</td>
                      <td>18/06/2004</td>
                      <td>Delhi</td>
                      <td>Patna</td>
                      <td>Pending</td>
                      <td>Admin</td>
                      <td>Admin</td>
                      <td>
                          <input type="file" class="files">
                      </td>
                      <td>Cancel</td>
                  </tr>
                  <tr>
                      <td>Vacation</td>
                      <td>123456</td>
                      <td>18/06/2004</td>
                      <td>Delhi</td>
                      <td>Patna</td>
                      <td>Pending</td>
                      <td>Admin</td>
                      <td>Admin</td>
                      <td>
                          <input type="file" class="files">
                      </td>
                      <td>Cancel</td>
                  </tr>
                  <tr>
                      <td>Vacation</td>
                      <td>123456</td>
                      <td>18/06/2004</td>
                      <td>Delhi</td>
                      <td>Patna</td>
                      <td>Pending</td>
                      <td>Admin</td>
                      <td>Admin</td>
                      <td>
                          <input type="file" class="files">
                      </td>
                      <td>Cancel</td>
                  </tr>
                  <tr>
                      <td>Vacation</td>
                      <td>123456</td>
                      <td>18/06/2004</td>
                      <td>Delhi</td>
                      <td>Patna</td>
                      <td>Pending</td>
                      <td>Admin</td>
                      <td>Admin</td>
                      <td>
                          <input type="file" class="files">
                      </td>
                      <td>Cancel</td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="second-table">
          <table>
              <caption>Cancel Leave Status</caption>
              <thead>
                  <tr>
                      <th>Leave Type</th>
                      <th>Leave Ref.No</th>
                      <th>Applied Date</th>
                      <th>Cancellation Status</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Vacation</td>
                      <td>123456</td>
                      <td>18/06/2004</td>
                      <td>pending</td>
                  </tr>
                  <tr>
                      <td>Vacation</td>
                      <td>123456</td>
                      <td>18/06/2004</td>
                      <td>pending</td>
                  </tr>
                  <tr>
                      <td>Vacation</td>
                      <td>123456</td>
                      <td>18/06/2004</td>
                      <td>pending</td>
                  </tr>
                  <tr>
                      <td>Vacation</td>
                      <td>123456</td>
                      <td>18/06/2004</td>
                      <td>pending</td>
                  </tr>
                  <tr>
                      <td>Vacation</td>
                      <td>123456</td>
                      <td>18/06/2004</td>
                      <td>pending</td>
                  </tr>
                  <tr>
                      <td>Vacation</td>
                      <td>123456</td>
                      <td>18/06/2004</td>
                      <td>pending</td>
                  </tr>
                  <tr>
                      <td>Vacation</td>
                      <td>123456</td>
                      <td>18/06/2004</td>
                      <td>pending</td>
                  </tr>
                  <tr>
                      <td>Vacation</td>
                      <td>123456</td>
                      <td>18/06/2004</td>
                      <td>pending</td>
                  </tr>
                  <tr>
                      <td>Vacation</td>
                      <td>123456</td>
                      <td>18/06/2004</td>
                      <td>pending</td>
                  </tr>
                  <tr>
                      <td>Vacation</td>
                      <td>123456</td>
                      <td>18/06/2004</td>
                      <td>pending</td>
                  </tr>
                  <tr>
                      <td>Vacation</td>
                      <td>123456</td>
                      <td>18/06/2004</td>
                      <td>pending</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
