<div class="calander-area">
    <div class="header">
        <h1>Leave Management</h1>
        <div class="content">
            <span><a href="#">Dashboard</a></span>
            <span><a href="#">/ Leave</a></span>
            <span>
                <p> / Holiday Calander</p>
            </span>
        </div>
    </div>
    <div class="border-bottom"></div>
    <div class="table-section">
        <table>
            <caption>Holidays Calander</caption>
            <thead>
                <tr>
                    <th>S.NO</th>
                    <th>Holiday Name</th>
                    <th>Date</th>
                    <th>Month</th>
                    <th>Days</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>Holi</td>
                    <td>23/03/2025</td>
                    <td>March</td>
                    <td>05</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>Holi</td>
                    <td>23/03/2025</td>
                    <td>March</td>
                    <td>05</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>Holi</td>
                    <td>23/03/2025</td>
                    <td>March</td>
                    <td>05</td>
                </tr>
                <tr>
                    <td>04</td>
                    <td>Holi</td>
                    <td>23/03/2025</td>
                    <td>March</td>
                    <td>05</td>
                </tr>
                <tr>
                    <td>05</td>
                    <td>Holi</td>
                    <td>23/03/2025</td>
                    <td>March</td>
                    <td>05</td>
                </tr>
                <tr>
                    <td>06</td>
                    <td>Holi</td>
                    <td>23/03/2025</td>
                    <td>March</td>
                    <td>05</td>
                </tr>
                <tr>
                    <td>07</td>
                    <td>Holi</td>
                    <td>23/03/2025</td>
                    <td>March</td>
                    <td>05</td>
                </tr>
                <tr>
                    <td>08</td>
                    <td>Holi</td>
                    <td>23/03/2025</td>
                    <td>March</td>
                    <td>05</td>
                </tr>
                <tr>
                    <td>09</td>
                    <td>Holi</td>
                    <td>23/03/2025</td>
                    <td>March</td>
                    <td>05</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Holi</td>
                    <td>23/03/2025</td>
                    <td>March</td>
                    <td>05</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>