<nav>
  <div class="logo">
    <img src="assets/images/logo.png" alt="Logo">
  </div>
  <div class="nav-icons">
    <i class="ri-contrast-2-line" id="nav_icon"></i>
    <i class="ri-notification-4-line" id="nav_icon"></i>
    <i class="ri-message-3-line" id="nav_icon"></i>
  </div>
  <div class="user-info">
    <span class="user-icon" routerLink="/profile" routerLinkActive="active">👤</span>
    <div class="user-text">
      <h3>Student</h3>
    </div>
    <div class="more-options" routerLink="/pw">
      <span routerLinkActive="active">...</span>
    </div>
  </div>
</nav>