.container {
  width: 100%;
  max-width: 1000px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 150px;
  margin-top: 50px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.add-student {
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  align-items: center;
}

thead {
  background-color: #f0f0f0;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  font-weight: bold;
}

button.edit {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

button.delete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.action-button{
  width: 150px;
}

@media (max-width: 600px) {
  table, thead, tbody, th, td, tr {
      display: block;
  }
  
  thead tr {
      display: none;
  }

  tr {
      margin-bottom: 10px;
  }

  td {
      padding-left: 50%;
      position: relative;
      text-align: right;
  }

  td:before {
      content: attr(data-label);
      position: absolute;
      left: 10px;
      width: calc(50% - 20px);
      text-align: left;
      font-weight: bold;
  }

  .add-student {
      width: 100%;
  }
}