<div class="application-status-area">
    <div class="header">
        <h1>Leave Management</h1>
        <div class="content">
            <span><a href="#">Dashboard</a></span>
            <span><a href="#">/ Leave</a></span>
            <span>
                <p> / View Status</p>
            </span>
        </div>
    </div>
    <div class="border-bottom"></div>
    <div class="application-area">
        <div class="header-section">
            <h2>Leave Application Status</h2>
        </div>
        <div class="select-area">
            <div class="select-section">
                <h4>Select Leave Type :</h4>
                <select name="" id="">
                    <option value="" selected disabled class="placeholder">Select</option>
                    <option value="">Option1</option>
                    <option value="">Option2</option>
                    <option value="">Option3</option>
                    <option value="">Option4</option>
                    <option value="">Option5</option>
                </select>
            </div>
            <div class="button-area">
                <button type="button">Cancel</button>
                <button type="button">View</button>
            </div>
        </div>
        <div class="table-section">
            <table>
                <caption>Leave Application Status</caption>
                <thead>
                    <tr>
                        <th>Leave Type</th>
                        <th>Leave Ref No</th>
                        <th>Applied Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                        <td>Vacation</td>
                        <td>123456</td>
                        <td>18/06/2004</td>
                        <td>Pending</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>