<div class="grid-container">
  <div class="header">
    <h1>Quizzes</h1>
    <div class="content">
      <a href="#">Dashboard</a>/<a href="#">Quizzes</a> /
      <span
        ><p>{{subjectCode}}</p>
        <p>/ Questions</p></span
      >
    </div>
  </div>
  <div class="border-bottom"></div>
  <div *ngIf="isloading" class="loading-container">
    <div class="spinner"></div>
    <p>Loading questions...</p>
  </div>
  <div class="quiz-container" *ngIf="quizDetails?.quizTitle">
    <h2 class="quiz-title">{{ quizDetails.quizTitle }}</h2>
    <p class="quiz-description">{{ quizDetails.quizDescription }}</p>

    <div
      class="question-card"
      *ngFor="
        let question of quizDetails.questions
          | paginate : { itemsPerPage: itemsPerPage, currentPage: currentPage }
      "
    >
      <h3 class="question-text">{{ question.questionText }}</h3>
      <ul class="options">
        <li class="option" *ngFor="let option of question.options">
          <label>
            <input
              type="radio"
              [name]="'question_' + question.questionId"
              [value]="option.optionText"
            />
            {{ option.optionText }}
          </label>
        </li>
      </ul>
    </div>

    <div class="pagination-container">
      <pagination-controls
        (pageChange)="currentPage = $event"
      ></pagination-controls>
    </div>

    <div class="submit-container" *ngIf="currentPage === totalPages">
      <button class="submit-btn" (click)="submitQuiz()">Submit</button>
    </div>
  </div>
</div>
