<div class="registration-area">
    <div class="header">
        <h1>Student Admission</h1>
        <button (click)="openregform()">Add Student</button>
    </div>
</div>

<div class="form-area" id="formModel">
    <h1>Add Student</h1>
    <form action="" [formGroup]="regForm" (ngSubmit)="onSubmit()">
        <div class="card-area">
            <div class="card">
                <input type="text" placeholder="Enter Student Name" formControlName="studentName" name="name">
            </div>
            <div class="card">
                <input type="date" formControlName="dateOfBirth">
            </div>
            <div class="card">
                <select name="" id="" formControlName="gender">
                    <option value="" selected disabled>Select a gender</option>
                    @for(gender of genderArray;track $index){
                        <option [value]="gender">{{gender}}</option>
                    }
                </select>
            </div>
            <div class="card">
                <input type="text" placeholder="Enter blood group" formControlName="bloodGroup" name="bloodGroup">
            </div>
            <div class="card">
                <input type="text" placeholder="Enter fathers Name" formControlName="fathersName" name="fathersName">
            </div>
            <div class="card">
                <input type="text" placeholder="Enter Mothers Name" formControlName="mothersName" name="mothersName">
            </div>
            <div class="card">
                <input type="text" placeholder="Enter fathers occupation" formControlName="fatherOccupation" name="fatherOccupation">
            </div>
            <div class="card">
                <input type="text" placeholder="Enter mothers occupation" formControlName="motherOccupation" name="motherOccupation">
            </div>
            <div class="card">
                <input type="number" placeholder="Enter family Income" formControlName="familyIncome" name="familyIncome">
            </div>
            <div class="card">
                <input type="text" placeholder="Enter mobileNo" formControlName="mobile" name="mobile">
            </div>
            <div class="card">
                <input type="email" placeholder="Enter Email" formControlName="email" name="email">
            </div>
            <div class="card">
                <select name="" id="" (change)="onStateChange($event)" formControlName="state">
                    <option value="" selected disabled>Select a state</option>
                    @for(state of State;track $index){
                        <option [value]="state.stateId">{{state.stateName}}</option>
                    }
                </select>
            </div>
            <div class="card">
                <select name="" id="" formControlName="district">
                    <option value="" selected disabled>Select a district</option>
                    @for(district of District;track $index){
                        <option [value]="district.districtId">{{district.districtName}}</option>
                    }
                </select>
            </div>
            <div class="card">
                <input type="text" placeholder="Enter Pincode" formControlName="pincode" name="pincode">
            </div>
            <div class="card">
                <textarea name="" id="" placeholder="Enter Address" formControlName="address"></textarea>
            </div>
            <div class="card">
                <input type="file" (change)="onFileSelected($event)"  #fileInput >
            </div>
            <div class="card">
                <select name="" id="" (change)="onClassChange($event)" formControlName="class">
                    <option value="" selected disabled>Select a Class</option>
                    @for(class of Classes;track $index){
                    <option [value]="class.classId">{{class.className}}</option>
                    }
                </select>
            </div>
            <div class="card">
                <select name="" id="" formControlName="sectionId">
                    <option value="0" selected disabled>Select a Section</option>
                    @for(section of Sections;track $index){
                    <option [value]="section.sectionId">{{section.sectionName}}</option>
                    }
                </select>
            </div>
            
        </div>
        <div class="button-area">
            <button type="submit" class="submit">Save</button>
            <button type="button" (click)="CloseModel()" class="close">Close</button>
        </div>
    </form>
</div>