<div class="assignment-section">
    <div class="header">
        <h1>Homework</h1>
        <div class="content">
            <span><a href="#">Dashboard</a></span>
            <span>
                <p> / Homework</p>
            </span>
        </div>
    </div>
    <div class="border-bottom"></div>
    <div class="table-section">
        <table>
            <thead>
                <tr>
                    <th>Assignment</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>Assignment-3</p>
                        <p>Deadline:-10 Aug 2025 Time:-11:59PM</p>
                    </td>
                    <td>
                        Not Completed
                    </td>
                    <td>
                        <button type="submit" class="allowed" routerLink="homework-page">Submit</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Assignment-4</p>
                        <p>Deadline:-15 Aug 2025 Time:-11:59PM</p>
                    </td>
                    <td>
                        Not Completed
                    </td>
                    <td>
                        <button type="submit" class="allowed" routerLink="homework-page">Submit</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Assignment-2</p>
                        <p>Deadline:-10 Aug 2025 Time:-11:59PM</p>
                    </td>
                    <td>
                        Not Completed
                    </td>
                    <td>
                        <button type="submit" class="not-allowed">Due Date Passed</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Assignment-1</p>
                        <p>Deadline:-10 Aug 2025 Time:-11:59PM</p>
                    </td>
                    <td>
                      Completed
                    </td>
                    <td>
                        <button type="submit" class="not-allowed">Due Date Passed</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Assignment-8</p>
                        <p>Deadline:-10 Aug 2025 Time:-11:59PM</p>
                    </td>
                    <td>
                        Not Completed
                    </td>
                    <td>
                        <button type="submit" class="allowed" routerLink="homework-page">Submit</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Assignment-9</p>
                        <p>Deadline:-10 Aug 2025 Time:-11:59PM</p>
                    </td>
                    <td>
                      Completed
                    </td>
                    <td>
                        <button type="submit" class="not-allowed">Due Date Passed</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>