<div class="student-course">
  <div class="header">
    <h1>Class Teacher</h1>
    <button (click)="openform()">Add Class Teacher Assignment</button>
  </div>

  <div class="selected-area"></div>
  <div class="search-area">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filterTeachers()"
      placeholder="Search by Teacher Name"
    />
  </div>
  <div class="section">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Sr.no</th>
            <th>Class</th>
            <th>Section</th>
            <th>Teacher Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let table of filteredData; let index = index">
            <td>{{ index + 1 }}</td>
            <td>{{ table.ClassName }}</td>
            <td>{{ table.SectionName }}</td>
            <td>{{ table.Name }}</td>
            <td class="action-button">
              <button
                class="edit"
                (click)="editClassTeacherAssignment(table.AssignmentID)"
              >
                Edit
              </button>
              <button
                class="delete"
                (click)="deleteClassTeacherAssignment(table.AssignmentID)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">
          Previous
        </button>
        <span>Page {{ currentPage }}</span>
        <button
          (click)="nextPage()"
          [disabled]="currentPage * pageSize >= filteredData.length"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>

<div class="form-area" id="formModel">
  @if(classTeacherAssignmentForm.value.assignmentID == 0){
  <h1>Add Class Teacher Assignment</h1>
  }@else {
  <h1>Update Class Teacher Assignment</h1>
  }

  <form [formGroup]="classTeacherAssignmentForm" (ngSubmit)="onSubmit()">
    <div class="card-area">
      <div class="card">
        <select (change)="onClassChange($event)" formControlName="classId">
          <option value="" selected disabled>Select a Class</option>
          <option *ngFor="let class of Classes" [value]="class.classId">
            {{ class.className }}
          </option>
        </select>
      </div>
      <div class="card">
        <select (change)="onSectionChange($event)" formControlName="sectionId">
          <option value="" selected disabled>Select a Section</option>
          <option *ngFor="let section of Sections" [value]="section.sectionId">
            {{ section.sectionName }}
          </option>
        </select>
      </div>
      <div class="card">
        <select formControlName="enrollmentNumber">
          <option value="" selected disabled>Select a Class Teacher</option>
          <option
            *ngFor="let teacher of Teachers"
            [value]="teacher.enrollmentNumber"
          >
            {{ teacher.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="button-area">
      @if(classTeacherAssignmentForm.value.assignmentID == 0){
      <button type="submit" class="submit">Save</button>
      }@else {
      <button type="submit" class="submit">Update</button>
      }

      <button type="button" (click)="CloseModel()" class="close">Close</button>
    </div>
  </form>
</div>
