.course-topic {
  padding: 30px 10px 0 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #ddd;
  padding: 10px 5px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 25px;
  padding: 5px;
  margin: 5px;
  padding-top: 5px;
  margin-top: 0px;
}

.header a {
  text-decoration: none;
  color: #007bff;
  display: inline;
  padding: 5px;
  margin: 5px;
}

.header p {
  display: inline;
}

.content {
  padding-bottom: 10px;
}

.border-bottom {
  margin-top: 20px;
  border-bottom: 2px solid #aaa;
}

.section {
  overflow: hidden;
  margin: 40px 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.table-container {
  /* display: none; */
  /* margin-top: 20PX; */
  width: 100%;
  overflow-x: auto;
  border-radius: 10px;

}

table {
  width: 100%;
  padding: 0 10px;

  border-collapse: collapse;
}

th {
  border: 2px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: #f1f1f1;
}

td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

button.edit {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  /* cursor: pointer; */
  margin-right: 5px;
}

button.delete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

td.action-button {
  min-width: 150px;
}

@media (max-width: 768px) {
  .header {
      flex-direction: column;
      text-align: center;
  }

  .table-container {
      overflow-x: scroll;
  }

  td.action-button {
      min-width: 120px;
  }

  th, td {
      font-size: 14px;
  }

  button.edit, button.delete {
      padding: 4px 8px;
      font-size: 12px;
  }
}

@media (max-width: 480px) {
  .course-topic{
    margin-left: 50px;
  }
  .header h1 {
      font-size: 18px;
  }

  .header a {
      font-size: 12px;
      padding: 3px;
  }

  .header p {
      font-size: 12px;
  }

  table {
      font-size: 12px;

  }

  td.action-button {
      min-width: 100px;
  }

  button.edit, button.delete {
      padding: 3px 5px;
      font-size: 10px;
  }
}
