/* General container for the form */
.attendance-container {
    width: 100%;
    /* margin: 10px; */
    /* padding: 20px; */
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* Header for the form */
h2 {
    text-align: center;
    /* color: #4CAF50; */
    margin-bottom: 30px;
    font-size: 24px;
}

/* Styling for the form elements */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

/* Input fields */
form input[type="text"],
form input[type="date"],
form input[type="checkbox"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}
form input[type="checkbox"]{
    border-radius: 50%;
}

form input[type="checkbox"] {
    width: auto;
    margin-left: 10px;
}

input[readonly] {
    background-color: #f4f4f4;
}

/* Styling for individual attendance records */
.attendance-record {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 20px;
    margin-bottom: 10px;
}

.attendance-record:nth-child(even) {
    background-color: #f7f7f7;
}

.attendance-item {
    flex: 1;
    min-width: 150px;
}

/* Button styling */
button {
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #45a049;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .attendance-container {
        width: 95%;
    }

    h2 {
        font-size: 20px;
    }

    form {
        gap: 10px;
    }

    button {
        width: 100%;
    }
}