* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  margin-top: 10px;
  padding: 10px;
}
.header {
  width: 100%;
  height: 75px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.header h1 {
  font-size: 25px;
  padding: 5px;
  margin: 5px;
  padding-top: 5px;
  margin-top: 0px;
}
.header a {
  text-decoration: none;
  color: #007bff;
  display: inline;
  padding: 5px;
  margin: 5px;
}
.header p {
  display: inline;
}
.content {
  padding-bottom: 10px;
}
.border-bottom {
  margin-top: 20px;
  border-bottom: 2px solid #aaa;
}
.main-container {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  background-color: #007bff;
  align-items: center;
  padding-bottom: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.filters {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1.55px solid #8a3535;
  padding-bottom: 18px;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.form-group {
  width: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2%;
  align-items: center;
}

.form-group label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #143c5e;
  font-size: 1.1rem;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  height: 2rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  height: 2.8rem;
  text-align: justify;
}

.form-group input[type="file"] {
  padding: 10px 0;
}

.actions {
  text-align: center;
}

.save-button {
  padding: 8px 40px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.save-button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .header {
    margin: 0px;
    padding: 10px;
    height: auto;
  }
  .header h1 {
    font-size: 18px;
    padding-bottom: 5px;
  }
  .header div {
    flex-direction: column;
    align-items: flex-start;
  }
  .grid-container {
    margin-left: 50px;
    transition: margin-left 0.3s;
    overflow: scroll;
  }

  .filters select {
    width: 48%;
  }

  @media (min-width: 768px) {
    .main-content {
      width: calc(100%);
    }
  }
}
@media (max-width: 450px) {
  .filters {
    flex-wrap: wrap;
  }
  .header {
    margin: 0px;
    padding: 10px 0px;
    height: 80px;
  }
}
