<div class="grid-container">
  <div class="header">
    <h1>Services</h1>
    <div class="content">
      <span><a href="#">Dashboard</a></span>
      <span><a href="#">/ Services</a></span>
      <span>
        <a>/Free Structure</a>
      </span>
    </div>
  </div>
  <div class="border-bottom"></div>
  <div class="main-container">
    <div class="filters">
      <div class="form-group">
        <label for="Class">Class *</label>
        <select required="" id="admission-year">
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
        </select>
      </div>
    </div>
    <div>
      <button class="save-button" type="submit" routerLink="/download-Free">
        Save
      </button>
    </div>
  </div>
</div>
