<div class="apply-leave-section">
    <div class="header">
        <h1>Leave Management</h1>
        <div class="content">
            <span><a href="#">Dashboard</a></span>
            <span><a href="#">/ Leave</a></span>
            <span>
                <p> / Apply Leave</p>
            </span>
        </div>
    </div>
    <div class="border-bottom">
        
    </div>
    <div class="apply-form-area">
        <div class="header-section">
            <h2>Employee Leave form</h2>
        </div>
        <div class="form-area">
            <!-- <div class="form-section"> -->
            <div class="card">
                <h3>1. Leave Type</h3>
                <select name="" id="box">
                    <option value="" selected disabled class="placeholder">Select</option>
                    <option value="">Option1</option>
                    <option value="">Option2</option>
                    <option value="">Option3</option>
                    <option value="">Option4</option>
                    <option value="">Option5</option>
                </select>
            </div>
            <div class="card">
                <h3>2. From</h3>
                <input type="date" id="box">
            </div>
            <div class="card">
                <h3>3. To</h3>
                <input type="date" id="box">
            </div>
            <div class="card">
                <h3>4. Leave Days</h3>
                <input type="text" id="box">
            </div>
            <div class="card">
                <h3>5. Leave Ground</h3>
                <textarea name="" id="box"></textarea>
            </div>
            <div class="card">
                <h3>6. Upload Attachment</h3>
                <input type="file" id="box" class="files">
            </div>
            <!-- </div> -->
        </div>
        <div class="submit-area">
            <button type="button" class="cancel-button">Cancel</button>
            <button type="submit" class="submit-button">Submit</button>
        </div>
    </div>
</div>