<div class="home-section"  id="h-component">
    <div class="card" routerLink="">
      <img src="assets/images/add student.png" alt="">
      <p>Student</p>
    </div>
    <div class="card" routerLink="aquizzes">
      <img src="assets/images/add teacher.png" alt="">
      <p>Teacher</p>
    </div>
    <div class="card" routerLink="">
      <img src="assets/images/add parents.png" alt="">
      <p>Parent</p>
    </div>
    <div class="card" routerLink="aquizzes">
      <img src="assets/images/add library.png" alt="">
      <p>Library</p>
    </div>
    <div class="card" routerLink="">
      <img src="assets/images/add class.png" alt="">
      <p>Class</p>
    </div>
    <div class="card" routerLink="aquizzes">
      <img src="assets/images/add subject.png" alt="">
      <p>Subject</p>
    </div>
    <div class="card" routerLink="">
      <img src="assets/images/add class routine.png" alt="">
      <p>Class Routine</p>
    </div>
    <div class="card" routerLink="aquizzes">
      <img src="assets/images/add attendance.png" alt="">
      <p>Attendance</p>
    </div>
    <div class="card" routerLink="">
      <img src="assets/images/add exam.png" alt="">
      <p>Exam</p>
    </div>
    <div class="card" routerLink="aquizzes">
      <img src="assets/images/add transport.png" alt="">
      <p>Transport</p>
    </div>
    <div class="card" routerLink="">
      <img src="assets/images/add hostel.jpg" alt="">
      <p>Hostel</p>
    </div>
    <div class="card" routerLink="aquizzes">
      <img src="assets/images/add notice.webp" alt="">
      <p>Notice</p>
    </div>
    <div class="card" routerLink="">
      <img src="assets/images/add account.webp" alt="">
      <p>Account</p>
    </div>
    
    
  </div>
  
