<div class="home-section"  id="h-component" >
    <div class="card" routerLink="viewstudent">
      <img src="assets/images/add student.png" alt="">
      <p>Student</p>
    </div>
    <div class="card" routerLink="viewTeacher">
      <img src="assets/images/add teacher.png" alt="">
      <p>Teacher</p>
    </div>
    <div class="card" routerLink="addclass">
      <img src="assets/images/add class.png" alt="">
      <p>Class</p>
    </div>
    <div class="card" routerLink="addsection">
      <img src="assets/images/add library.png" alt="">
      <p>Section</p>
    </div>
    <div class="card" routerLink="StuAdmission">
      <img src="assets/images/add admission.png" alt="">
      <p>Admission</p>
    </div>
    <div class="card" routerLink="quizsubject">
      <img src="assets/images/add subject.png" alt="">
      <p>Subject</p>
    </div>
    <div class="card" routerLink="studenttimetable">
      <img src="assets/images/add attendance.png" alt="">
      <p>Time Table</p>
    </div>
    <div class="card" routerLink="studentnotification">
      <img src="assets/images/add exam.png" alt="">
      <p>Student Notification</p>
    </div>
    <div class="card" routerLink="teachernotification">
      <img src="assets/images/add exam.png" alt="">
      <p>Teacher Notification</p>
    </div>
    <div class="card" routerLink="subjectTopic">
      <img src="assets/images/add subject topic.png" alt="">
      <p>Subject Topic</p>
    </div>
    <div class="card" routerLink="studentfee">
      <img src="assets/images/fee icon.png" alt="">
      <p>Fees</p>
    </div>
    <div class="card" routerLink="adminregistration">
      <img src="assets/images/add registration.jpg" alt="">
      <p>Registration</p>
    </div>
    <div class="card" routerLink="classTeacherAssignment">
      <img src="assets/images/add account.webp" alt="">
      <p>Add Class Teacher </p>
    </div>
    
  </div>

