<div class="item menu" [ngClass]="width">
  <div class="name"><span *ngIf="is_text_display_none">I Portal</span>
    @if(width){
      <i class="ri-close-large-line" (click)="menu_expanded()"></i>
      }
      @else{
      <i class="ri-menu-line end" (click)="menu_collapsed()"></i>
      }
  </div>
  <a routerLink="/teacherlayout/T-home" routerLinkActive="active" (click)="collapse()"><i class="ri-dashboard-2-line" id="icon"></i>
    <span *ngIf="is_text_display_none">Home</span> <i class="ri-arrow-right-s-line"></i>
  </a>
  <a routerLink="/teacherlayout/T-dashboard" routerLinkActive="active" (click)="collapse()"><i class="ri-dashboard-2-line" id="icon"></i>
    <span *ngIf="is_text_display_none">Dashboard</span> <i class="ri-arrow-right-s-line"></i>
  </a>
  <a routerLink="/teacherlayout/student-management" routerLinkActive="active" (click)="collapse()"><i class="fa-solid fa-building-columns" id="icon"></i>
    <span *ngIf="is_text_display_none"> Management</span> <i class="ri-arrow-right-s-line"></i>
  </a>

  <a routerLink="/teacherlayout/Tquizzes" routerLinkActive="active" (click)="collapse()"><i class="ri-slideshow-line" id="icon"></i>
    <span *ngIf="is_text_display_none">Quizzes</span> <i class="ri-arrow-right-s-line"></i>
  </a>

  <a routerLink="/teacherlayout/T-attendence" routerLinkActive="active" (click)="collapse()"><i class="ri-calendar-todo-fill" id="icon"></i>
    <span *ngIf="is_text_display_none">Attendance</span> <i class="ri-arrow-right-s-line"></i>
  </a>

  <a routerLink="/teacherlayout/TTimeTableComponent" routerLinkActive="active" (click)="collapse()"><i class="ri-calendar-schedule-fill" id="icon"></i>
    <span *ngIf="is_text_display_none">Time Table</span> <i class="ri-arrow-right-s-line"></i>
  </a>

  <a href="#" (click)="collapse()"><i class="ri-money-rupee-circle-fill" id="icon"></i>
    <span *ngIf="is_text_display_none">Salary</span> <i class="ri-arrow-right-s-line"></i>
  </a>

  <a href="#"><i class="ri-bar-chart-line" id="icon" (click)="collapse()"></i>
    <span *ngIf="is_text_display_none">Reports</span> <i class="ri-arrow-right-s-line"></i>
  </a>

  <a routerLink="/teacherlayout/T-homework" routerLinkActive="active" (click)="collapse()"><i class="ri-article-line" id="icon"></i>
    <span *ngIf="is_text_display_none">Homework</span> <i class="ri-arrow-right-s-line"></i>
  </a>
  <a routerLink="/teacherlayout/leave" routerLinkActive="active" (click)="collapse()"><i class="fa-solid fa-house-circle-exclamation" id="icon"></i>
    <span *ngIf="is_text_display_none">Leave</span> <i class="ri-arrow-right-s-line"></i></a>

  <a routerLink="/teacherlayout/tHelp" routerLinkActive="active" (click)="collapse()"><i class="fa-solid fa-headphones" id="icon"></i>
    <span *ngIf="is_text_display_none">Help & Support</span> <i class="ri-arrow-right-s-line"></i>
  </a>

</div>
