* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.grid-container {
  margin-top: 10px;
  padding: 10px;
}

.header {
  width: 100%;
  height: 75px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.header h1 {
  font-size: 25px;
  padding: 5px;
  margin: 5px;
  padding-top: 5px;
  margin-top: 0px;
}

.header a {
  text-decoration: none;
  color: #007bff;
  display: inline;
  padding: 5px 0 5px 5px;
  margin-left: 5px;
}

.header p {
  display: inline;
}

.border-bottom {
  margin-top: 20px;
  border-bottom: 2px solid #aaa;
}

.content {
  padding-bottom: 10px;
}

.header>div {
  display: flex;
  justify-content: center;
}

.main-div {
  width: 100%;
  height: 100%;
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
  height: auto;
  margin: 40px auto;
  padding: 20px;
  position: relative;
  background: linear-gradient(to right top, #d0dbdb, #fff);
  box-shadow: 0 0 8px rgb(0, 0, 0, 0.1);
  border: transparent;
  margin-bottom: 50px;
}

.card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: polygon(0 0, 4% 0, 27% 100%, 27% 100%, 0% 100%);
  z-index: 1;
  background: linear-gradient(90deg,
      rgba(1, 4, 64, 1) 4%,
      rgb(56, 56, 119) 24%,
      rgb(40, 40, 131) 51%,
      rgb(201, 213, 210) 75%,
      rgb(255, 255, 255) 93%);
}

.profile {
  width: 30%;
  z-index: 2;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

.profile-picture {
  width: 300px;
  height: 320px;
  object-fit: cover;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.5px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.084),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.sub {
  width: 60%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub ul li {
  padding: 10px;
}

.name {
  font-size: 1.2rem;
  font-style: italic;
}

li:last-child {
  border-bottom: none;
}

strong {
  font-weight: 800;
  font-size: 1rem;
  color: #262829;
}

a {
  text-decoration: none;
}



h2 {
  color: #142450;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 5px 0 10px 5px;
}

.table-section {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.first-table,
.second-table {
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #4caf50;
  color: white;
  border: 1px solid #ddd;
  padding: 10px 0px;
  text-align: center;
}

td {
  font-weight: 600;
  font-size: 1rem;
  color: #262829;
  border: 1px solid #ddd;
  padding: 10px 0px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.footer-row {
  background-color: lightblue;
  text-align: right;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nextBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #142450;
  color: white;
  font-size: 15px;
  font-weight: 750;
}

.nextBtn:hover {
  background-color: #3a57a5;
  cursor: pointer;
}

@media screen and (max-width:991px){
  .profile {
    width: 40%;
    margin-left: 0;
    padding-left: 0;
    padding-top: 20px;
  }
}

@media screen and (max-width:768px) {
  .grid-container {
    margin-left: 60px;
  }
  
  table {
    min-width: 600px;
  }
  
}
@media screen and (max-width:497px){
  .grid-container {
    margin-left: 50px;
    overflow-x: hidden;
  }
  .card::before{
    display: none;
  }
  .card{
    flex-direction: column;
    border-radius: 10px;
    border-left:  10px solid  rgba(1, 4, 64, 1);
    border-bottom:  10px solid  rgba(1, 4, 64, 1);
  }
  .profile{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-picture{
    border-radius: 50%;
    height: 220px;
    width: 220px;
    object-fit: cover;
  }
  .sub{
    border-top: 2px solid #444;
    padding-top: 30px;
    width: 100%;
  }
}
