<div class="grid-container">
  <div class="header">
    <h1>Services</h1>
    <div class="content">
      <span><a href="#">Dashboard</a></span>
      <span><a href="#">/ Services</a></span>
      <span>
        <a>/ Medical Service</a>
      </span>
    </div>
  </div>
  <div class="border-bottom"></div>
  <div class="main-container">
    <div class="filters">
      <div class="form-group">
        <label for="Vaccine-Dose-Taken">Vaccine Dose Taken *</label>
        <select required="" id="Vaccine-Dose-aken">
          <option value="">Select</option>
          <option value="">Select</option>
          <option value="">Select</option>
        </select>
      </div>
      <div class="form-group">
        <label for="Vaccine-name">Vaccine name *</label>
        <select required="" id="Vaccine-name">
          <option value="">Select</option>
          <option value="">Select</option>
          <option value="">Select</option>
        </select>
      </div>
      <div class="form-group">
        <label for="vaccination-Date1  ">Vaccination Date (Dose1) *</label>
        <input id="vaccination-Date1" type="date" />
      </div>
      <div class="form-group">
        <label for="vaccination-Date2 ">Vaccination Date (Dose2) </label>
        <input id="vaccination-Date2 " type="date" />
      </div>
      <div class="form-group">
        <label for="Upload-vaccination-Certificate-Dose *"
          >Upload vaccination Certificate Dose1 *</label
        >
        <input id="Upload-vaccination-Certificate-Dose *" type="file" />
      </div>
    </div>
    <div>
      <button class="save-button" type="submit">Save</button>
    </div>
  </div>
</div>
