<div class="quiz-container">
    <div class="header-area">
        <div class="header">
            <h1>Quizzes</h1>
            <div class="content">
                <span><a href="#">Dashboard</a></span>
                <span>
                    <p> / Quizzes</p>
                </span>
            </div>
        </div>
    </div>
    <div class="border-bottom"></div>
    <div class="card-section" >
        <div class="card" routerLink="upcoming">
            <i class="ri-book-2-fill"></i>
            <p>Upcoming Quizzes</p>
        </div>
        <div class="card" routerLink="ongoing">
            <i class="ri-book-2-fill"></i>
            <p>Ongoing Quizzes</p>
        </div>
        <div class="card" routerLink="schedule">
            <i class="ri-book-2-fill"></i>
            <p>Schedule Quiz</p>
        </div>
        <div class="card" routerLink="Assesment">
            <i class="ri-book-2-fill"></i>
            <p>Assesment of Quiz</p>
        </div>
    </div>
</div>