.quiz-container {
    margin-top: 10px;
    padding: 10px;
}

.header {
    width: 100%;
    height: 70px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.header h1 {
    font-size: 25px;
    padding: 5px;
    margin: 5px;
    padding-top: 0px;
    margin-top: 0px;
}

.header a {
    text-decoration: none;
    color: #007bff;
    display: inline;
    padding: 5px 0 5px 5px;
    margin-left: 5px;
}

.header p {
    display: inline;
}

.border-bottom {
    margin-top: 20px;
    border-bottom: 2px solid #aaa;
}

.card-section {
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    aspect-ratio: 1;
    max-height: 550px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card i {
    font-size: 60px;
    text-align: center;
    color: rgba(18, 112, 176, 1);
}


.card p {
    margin-top: 4%;
    font-size: 1em;
    width: 70%;
    text-align: center;
}

@media screen and (max-width:991px) {
    .card-section{
        column-gap: 30px;
    }
    
}
@media screen and (max-width:768px){
    .quiz-container{
        margin-left: 60px;
    }
    .card-section{
        padding: 20px 0;
    }
}
@media screen and (max-width:497px){
    .quiz-container{
        margin-left: 50px;
        overflow-x: hidden;
    }
    .card-section{
        justify-content: space-around;
        column-gap: 20px;
    }
    .card{
        width: 45%;
        margin-bottom: 20px;
    }
    .card i {
        font-size: 40px;
      }
    
      .card p {
        font-size: 15px;
      }
}
