<div class="grid-container">
  <div class="header">
    <h1>Quizzes</h1>
    <div class="content">
      <span><a href="#">Dashboard</a></span>
      <span><p>/ Quizzes</p></span>
    </div>
  </div>
  <div class="border-bottom"></div>
  <div class="boxes-container">
    @for(subject of quizSubjects; track $index) {
    <div class="box" (click)="goto(subject.subjectId,subject.subjectCode)">
      <img src="assets/images/physics.jpg" alt="Subject Image" />
      <h3>
        <b>{{ subject.subjectName }}</b>
      </h3>
      <h4>
        <b>{{ subject.subjectCode }}</b>
      </h4>
    </div>
    }
  </div>
</div>

