.con {
  width: 100%;
}

.flex-container {
  display: flex;
  /* overflow-x: hidden; */
}

app-navbar {
  width: 100%;
}

.ww {
  display: flex;
}

.navu {
  width: 100%;
  /* background-color: red; */
  height: 100%;
}

app-performance {
  width: 100%;
}