<div class="view-balance-area">
    <div class="header">
        <h1>Leave Management</h1>
        <div class="content">
            <span><a href="#">Dashboard</a></span>
            <span><a href="#">/ Leave</a></span>
            <span>
                <p> / View Balance</p>
            </span>
        </div>
    </div>
    <div class="border-bottom"></div>
    <div class="balance-section">
        <div class="header-section">
            <h2>Current Leave Balance</h2>
        </div>
        <div class="balance-table">
            <table>
                <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Leave Reason</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td>Abortion Leave</td>
                        <td>42.0</td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>Casual Leave</td>
                        <td>42.0</td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Child Care Leave</td>
                        <td>42.0</td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td>Earned Leave</td>
                        <td>42.0</td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>Extra Ordinary Leave</td>
                        <td>42.0</td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td>Maternity Leave</td>
                        <td>42.0</td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>Medical Leave</td>
                        <td>42.0</td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>Restricted Holidays</td>
                        <td>42.0</td>
                    </tr>
                    <tr>
                        <td>09</td>
                        <td>Study Leave</td>
                        <td>42.0</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Vacation Leave</td>
                        <td>42.0</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Other Leave</td>
                        <td>42.0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>