<div class="Quiz-area">
    <div class="header">
        <h1>Quizzes</h1>
        <div class="content">
            <span><a href="#">Dashboard</a></span>
            <span><a href="#">/ Quizzes</a></span>
            <span>
                <p> / Schedule Quiz</p>
            </span>
        </div>
    </div>
    <div class="border-bottom">

    </div>
    <div class="heading">
        <h2>Schedule Quiz</h2>
    </div>
    <div class="select-area">
        <div class="card">
            <p>Class :</p>
            <select id="Class" name="Class" (change)="GetSectionById()"  [(ngModel)]="ClassId" >
                <option value="" selected disabled class="placeholder">Please select</option>
                <option *ngFor="let class of ClassList  " [value]="class.classId" >{{class.className}}</option>

            </select>
        </div>
        <div class="card">
            <p>Section :</p>
            <select name="Section" id="Section" (change)="GetSubjectById()"  [(ngModel)]="SectionId">
                <option value="" selected disabled class="placeholder">Please select </option>
                <option  *ngFor="let item of SectionList  " [value]="item.sectionId" >{{item.sectionName}}</option>

            </select>
        </div>
        <div class="card">
            <p>Subject :</p>
            <select name="Subject" id="Subject">
                <option value="" selected disabled class="placeholder"> Please select </option>
                <option  *ngFor="let item of SubjectList  " [value]="item.subjectId" >{{item.subjectName}}</option>

            </select>
        </div>
    </div>
    <div id="button">
        <input type="submit" value="Submit" class="Submit-button">
    </div>
    <div class="quiz-title-section">
        <div class="first">
            <h2>Quiz Title</h2>
            <p>Quiz Description</p>
        </div>
        <div class="second">
            <div class="one">
                <div class="left">Question Text</div>
                <div class="right">
                    <!-- <span> <i class="fa-regular fa-circle-dot"></i></span> -->
                    <select name="" id="">
                        <option value="" selected disabled class="placeholder">Question Type </option>
                        <option value="option1">Sigle Correct</option>
                        <option value="option2">Multi Correct</option>
                        <option value="option3">True/False</option>
                        <option value="option4">Code</option>
                        <option value="option5">Long Answer</option>
                    </select>
                </div>
            </div>
            <div class="two">
                <!-- <fieldset> -->
                <div>
                    <input type="radio" id="r-button" name="drone" value="01" />
                    <label for="01">Option 1</label>
                </div>

                <div>
                    <input type="radio" id="r-button" name="drone" value="02" />
                    <label for="02">Option 2</label>
                </div>

                <div>
                    <input type="radio" id="r-button" name="drone" value="03" />
                    <label for="03">Option 3</label>
                </div>
                <div>
                    <input type="radio" id="r-button" name="drone" value="04" />
                    <label for="04">Option 4</label>
                </div>
                <!-- </fieldset>    -->
            </div>
            <div class="three">
                <span>Required </span>
                <input type="checkbox" id="switch" class="checkbox" />
                <label for="switch" class="toggle">
                </label>
            </div>
        </div>
        <div class="third">
            <p><i class="ri-dashboard-2-line"></i>
                <span> Add Questions</span>
            </p>
        </div>
        <div class="fourth">
            <div class="date-area">
                <button type="submit" class="date-section">
                    <i class="ri-dashboard-2-line"></i>
                    <span> Schedule Quiz</span>
                </button>

            </div>
            <div class="submit-area">
                <button type="button" class="submit-section">
                    <i class="ri-dashboard-2-line"></i>
                    <span> Go Live</span>
                </button>
            </div>
        </div>
    </div>
</div>
