<!-- <div class="grid-container">
  <div class="header">
    <h1>Quizzes</h1>
    <div>
      
      <span><a href="#">Dashboard</a></span>
      <span><p>/ Services</p></span>
    </div>
  </div>
  <div class="boxes-container">
    <div class="sidebar" style="position: sticky">
      <app-stud-menu></app-stud-menu>
    </div>
    <div class="right">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<div>
  <div></div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<div class="con">
  <div class="flex-container">
    <app-stud-menu></app-stud-menu>
    <div class="navu">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
