<div class="homework-section">
    <div class="header">
        <h1>Homework</h1>
        <div class="content">
            <span><a href="#">Dashboard</a></span>
            <span><a href="#">/ Homework</a></span>
            <span>
                <p> / Assignment-3</p>
            </span>
        </div>
    </div>
    <div class="border-bottom"></div>
    <div class="homework-area">
        <div class="left">
            <img src="../../../../assets/images/homework.png" alt="">
        </div>
        <div class="right">
            <div class="heading">
                <h3>Assignment-3</h3>
            </div>
            <p><Strong>Status:-</Strong><span class="first ">Not Completed</span></p>
            <p><strong>Deadline:-</strong><span class="second">10 Augest 2025 , Time:-11:59 PM</span></p>
            <div class="submit-section">
                <label for="files" class="upload">Upload Files</label>
                <input type="file" id="files" class="upload">
                <button type="submit">Submit</button>
            </div>
        </div>
    </div>
</div>