<div class="Quiz-area">
    <div class="header">
        <h1>Quizzes</h1>
        <div class="content">
            <span><a href="#">Dashboard</a></span>
            <span><a href="#">/ Quizzes</a></span>
            <span>
                <p> / Assessment of Quiz</p>
            </span>
        </div>
    </div>
    <div class="border-bottom"></div>
    <div class="heading">
        <h2>Select Quiz</h2>
    </div>
    <div class="select-area">
        <div class="card">
            <p>Class :</p>
            <select name="" id="">
                <option value="" selected disabled class="placeholder">Please select</option>
                <option value="option1">Class 1</option>
                <option value="option2">class 2</option>
                <option value="option3">class 3</option>
                <option value="option4">class 4</option>
                <option value="option5">class 5</option>
            </select>
        </div>
        <div class="card">
            <p>Section :</p>
            <select name="" id="">
                <option value="" selected disabled class="placeholder">Please select </option>
                <option value="option1">Section 1</option>
                <option value="option2">Section 2</option>
                <option value="option3">Section 3</option>
                <option value="option4">Section 4</option>
                <option value="option5">Section 5</option>
            </select>
        </div>
        <div class="card">
            <p>Subject :</p>
            <select name="" id="">
                <option value="" selected disabled class="placeholder"> Please select </option>
                <option value="option1">Subject 1</option>
                <option value="option2">Subject 2</option>
                <option value="option3">Subject 3</option>
                <option value="option4">Subject 4</option>
                <option value="option5">Subject 5</option>
            </select>
        </div>
        <div class="card">
            <p>Select Student :</p>
            <select name="" id="">
                <option value="" selected disabled class="placeholder"> Please select </option>
                <option value="option1">Student 1</option>
                <option value="option2">Student 2</option>
                <option value="option3">Student 3</option>
                <option value="option4">Student 4</option>
                <option value="option5">Student 5</option>
            </select>
        </div>
    </div>
    <div id="button">
        <input type="submit" value="Submit" class="Submit-button">
    </div>
    <div class="quiz-title-section">
        <div class="first">
            <h2>Quiz Title</h2>
            <p>Quiz Description</p>
        </div>
        <div class="question-area">
            <div class="question">
                <div class="second">
                    <div class="top">
                        <p>Question Text</p>
                    </div>
                    <div class="bottom">
                        <div>
                            <input type="radio" id="r-button" name="drone" value="01" />
                            <label for="01">Option 1</label>
                        </div>

                        <div>
                            <input type="radio" id="r-button" name="drone" value="02" />
                            <label for="02">Option 2</label>
                        </div>

                        <div>
                            <input type="radio" id="r-button" name="drone" value="03" />
                            <label for="03">Option 3</label>
                        </div>
                        <div>
                            <input type="radio" id="r-button" name="drone" value="04" />
                            <label for="04">Option 4</label>
                        </div>
                    </div>
                    <div class="cross-section">
                        <div class="cross">
                            <i class="ri-close-large-fill"></i>
                        </div>
                        <div class="check">
                            <i class="ri-check-fill"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question">
                <div class="second">
                    <div class="top">
                        <p>Question Text</p>
                    </div>
                    <div class="bottom">
                        <div>
                            <input type="radio" id="r-button" name="drone" value="01" />
                            <label for="01">Option 1</label>
                        </div>

                        <div>
                            <input type="radio" id="r-button" name="drone" value="02" />
                            <label for="02">Option 2</label>
                        </div>

                        <div>
                            <input type="radio" id="r-button" name="drone" value="03" />
                            <label for="03">Option 3</label>
                        </div>
                        <div>
                            <input type="radio" id="r-button" name="drone" value="04" />
                            <label for="04">Option 4</label>
                        </div>
                    </div>
                    <div class="cross-section">
                        <div class="cross">
                            <i class="ri-close-large-fill"></i>
                        </div>
                        <div class="check">
                            <i class="ri-check-fill"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question">
                <div class="second">
                    <div class="top">
                        <p>Question Text</p>
                    </div>
                    <div class="bottom">
                        <div>
                            <input type="radio" id="r-button" name="drone" value="01" />
                            <label for="01">Option 1</label>
                        </div>

                        <div>
                            <input type="radio" id="r-button" name="drone" value="02" />
                            <label for="02">Option 2</label>
                        </div>

                        <div>
                            <input type="radio" id="r-button" name="drone" value="03" />
                            <label for="03">Option 3</label>
                        </div>
                        <div>
                            <input type="radio" id="r-button" name="drone" value="04" />
                            <label for="04">Option 4</label>
                        </div>
                    </div>
                    <div class="cross-section">
                        <div class="cross">
                            <i class="ri-close-large-fill"></i>
                        </div>
                        <div class="check">
                            <i class="ri-check-fill"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-area">
            <button type="button" class="submit-section">
                <i class="fa-solid fa-circle-play"></i><span> Release Result</span>
            </button>
        </div>
    </div>
</div>