<div class="book-area">
  <div class="book-header">
      <div class="header-content">
          <h1>Leave Management</h1>
          <p><span id="dash">Dashboard</span><span id="dash"> / Leave</span><span> / Leave Book</span></p>
      </div>
  </div>
  <div class="leave-book-area">
      <div class="header-section">
          <h2>Leave Book</h2>
      </div>
      <div class="select-area">
          <div class="select-section">
              <h4>Year :</h4>
              <select name="" id="">
                  <option value="" selected disabled class="placeholder">Select</option>
                  <option value="">Option1</option>
                  <option value="">Option2</option>
                  <option value="">Option3</option>
                  <option value="">Option4</option>
                  <option value="">Option5</option>
              </select>
          </div>
          <div class="button-area">
              <button type="button">Cancel</button>
              <button type="button">Search</button>
          </div>
      </div>
      <div class="table-section">
          <table>
              <caption>Leave Book</caption>
              <thead>
                  <tr>
                      <th>S.No</th>
                      <th>Application Date</th>
                      <th>Leave Period</th>
                      <th>Previous balance</th>
                      <th>Leave Availed</th>
                      <th>Current Balance</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>01</td>
                      <td>05/03/2022</td>
                      <td>05/03/2022-06/03/2022</td>
                      <td>14</td>
                      <td>1</td>
                      <td>13</td>
                  </tr>
                  <tr>
                      <td>02</td>
                      <td>05/03/2022</td>
                      <td>05/03/2022-06/03/2022</td>
                      <td>14</td>
                      <td>1</td>
                      <td>13</td>
                  </tr>
                  <tr>
                      <td>03</td>
                      <td>05/03/2022</td>
                      <td>05/03/2022-06/03/2022</td>
                      <td>14</td>
                      <td>1</td>
                      <td>13</td>
                  </tr>
                  <tr>
                      <td>04</td>
                      <td>05/03/2022</td>
                      <td>05/03/2022-06/03/2022</td>
                      <td>14</td>
                      <td>1</td>
                      <td>13</td>
                  </tr>
                  <tr>
                      <td>05</td>
                      <td>05/03/2022</td>
                      <td>05/03/2022-06/03/2022</td>
                      <td>14</td>
                      <td>1</td>
                      <td>13</td>
                  </tr>
                  <tr>
                      <td>06</td>
                      <td>05/03/2022</td>
                      <td>05/03/2022-06/03/2022</td>
                      <td>14</td>
                      <td>1</td>
                      <td>13</td>
                  </tr>
                  <tr>
                      <td>07</td>
                      <td>05/03/2022</td>
                      <td>05/03/2022-06/03/2022</td>
                      <td>14</td>
                      <td>1</td>
                      <td>13</td>
                  </tr>
                  <tr>
                      <td>08</td>
                      <td>05/03/2022</td>
                      <td>05/03/2022-06/03/2022</td>
                      <td>14</td>
                      <td>1</td>
                      <td>13</td>
                  </tr>
                  <tr>
                      <td>09</td>
                      <td>05/03/2022</td>
                      <td>05/03/2022-06/03/2022</td>
                      <td>14</td>
                      <td>1</td>
                      <td>13</td>
                  </tr>
                  <tr>
                      <td>10</td>
                      <td>05/03/2022</td>
                      <td>05/03/2022-06/03/2022</td>
                      <td>14</td>
                      <td>1</td>
                      <td>13</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>
