.teacher-area {
    margin: 70px 10px 0 60px;
}


h1 {
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    text-align: center;
    padding: 15px 0;
    border-radius: 10px;
    font-size: 22px;
    background-color: #FDC300;
}

.profile-area {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.profile-area img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #aaa;
}

.details-area {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    column-gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
    background-color: aliceblue;
}

.card {
    width: 48%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 10px;
}
.button-area{
    margin-top: 20px;
    display: flex;
    justify-content: right;
    padding-right: 50px;
}
button.edit {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    /* cursor: pointer; */
    margin-right: 5px;
}

button.delete {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}