<div class="grid-container">
    <div class="header">
      <h1>Quizzes</h1>
      <div class="content">
        <a href="#">Dashboard</a> / <a href="#">Quizzes</a> /
        <span><p>{{subjectCode}}</p></span>
      </div>
    </div>
    <div class="border-bottom"></div>
    <div class="_container" >
      @for(title of subTitleAndDes; track $index) {
      <div class="assignment">
        <div class="details">
          <h3>
            <b>{{ title.quizTitle }} ----> {{ title.quizDescription }}</b>
          </h3>
        </div>
        <button class="action-button" (click)="goto(title.quizId,subjectCode)">
          Attempt Now
        </button>
      </div>
      }
    </div>

  </div>
  