/* General container styling */
.container {
  width: 100%;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  gap: 20px;
}

.left {
  width: 70%;
}

.right {
  width: 30%;
}

/* Title */
h1 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

/* Table styling */
.attendance-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.attendance-table th,
.attendance-table td {
  padding: 12px 15px;
  text-align: center;
}

.attendance-table thead {
  background-color: #f4f4f4;
  border-bottom: 2px solid #ddd;
}

.attendance-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.attendance-table th {
  font-weight: bold;
  color: #333;
}

.attendance-table td {
  color: #555;
}

/* Badge styling */
.badge {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}

.badge.present {
  background-color: #4caf50;
  color: #fff;
}

.badge.absent {
  background-color: #f44336;
  color: #fff;
}

/* Loading and error messages */
.loading {
  text-align: center;
  font-size: 18px;
  color: #777;
}

.error {
  text-align: center;
  font-size: 18px;
  color: #f44336;
}

.no-data {
  text-align: center;
  font-size: 18px;
  color: #777;
}

/* Graph of the */
.student {
  background-color: #ffffff;
  border-radius: 15px;
  /* box-shadow: 0 10px 20px 0 #6b8ece77,
    inset 0px -7px 12px 1px rgb(107, 143, 179);
  transition: all 0.4s ease-in-out; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  margin-top: 55px;
}

.chart {
  height: 330px;
  background-color: #e5e7eb;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* Pagination */

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  background: #ddd;
  margin: 0 5px;
  font-size: 14px;
  opacity: 0.9;
  border-radius: 10px;
  font-weight: 400;
  color: black;
}

.pagination button {
  padding: 10px 10px;
}