<div class="header-container">
  <h2>Day Wise Attendance</h2>
  <form class="attendance-form">
      <div class="form-group">
          <label for="academic-year">Academic Year:</label>
          <select id="academic-year" name="academic-year">
              <option value="2023-2024">2023-2024</option>
              <!-- Add more options as needed -->
          </select>
      </div>
      <div class="form-group">
          <label for="class">Class:</label>
          <select id="academic-year" name="academic-year">
            <option value="2023-2024">1 sec-A</option>
            <option value="2023-2024">2 sec-A</option>
            <option value="2023-2024">3 sec-A</option>
            <!-- Add more options as needed -->
        </select>
      </div>
      <div class="form-group">
          <label for="month">Month:</label>
          <select id="month" name="month">
              <option value="01">January</option>
              <option value="01">Febuary</option>
              <option value="01">March</option>
              <!-- Add more options as needed -->
          </select>
      </div>
      <div class="form-group">
          <label for="from-date">From Date:</label>
          <input type="date" id="from-date" name="from-date" value="2024-01-01">
      </div>
      <div class="form-group">
          <label for="to-date">To Date:</label>
          <input type="date" id="to-date" name="to-date" value="2024-01-31">
         
      </div>
      <button type="submit" class="btn">Search</button>
     
  </form>
</div>
<div class="container">
  <h1>Course Wise Attendance From 01/01/2024 to 31/01/2024</h1>
  <p>Attendance Records in July 2023-2024 ( PP : Theory PR : Practical TUT : Tutorial )</p>
  <div class="attendance-record">
      <table>
          <thead>
              <tr>
                  <th>Lecture Timings</th>
                  <th>02/01</th>
                  <th>03/01</th>
                  <th>04/01</th>
                  <th>07/01</th>
                  <th>08/01</th>
                  <th>09/01</th>
                  <th>10/01</th>
                  <th>11/01</th>
                  <th>14/01</th>
                  <th>16/01</th>
                  <th>17/01</th>
                  <th>18/01</th>
                  <th>21/01</th>
                  <th>23/01</th>
                  <th>24/01</th>
                  <th>28/01</th>
                  <th>29/01</th>
                  <th>Total</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>08:20 to 09:10</td>
                  <td style="background-color: aqua;  width: fit-content">P</td>
                  <td style="background-color: red;">A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>8/12</td>
              </tr>
              <tr>
                  <td>08:20 to 09:10</td>
                  <td>P</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>8/12</td>
              </tr>
              <tr>
                  <td>08:20 to 09:10</td>
                  <td>P</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>8/12</td>
              </tr>
              <tr>
                  <td>08:20 to 09:10</td>
                  <td>P</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>8/12</td>
              </tr>
              <tr>
                  <td>08:20 to 09:10</td>
                  <td>P</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>8/12</td>
              </tr>
              <tr>
                  <td>08:20 to 09:10</td>
                  <td>P</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>8/12</td>
              </tr>
              <tr>
                  <td>08:20 to 09:10</td>
                  <td>P</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>8/12</td>
              </tr>
              <tr>
                  <td>08:20 to 09:10</td>
                  <td>P</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>8/12</td>
              </tr>
              <tr>
                  <td>08:20 to 09:10</td>
                  <td>P</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>8/12</td>
              </tr>
              <tr>
                  <td>08:20 to 09:10</td>
                  <td>P</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>8/12</td>
              </tr>
              <tr>
                  <td>08:20 to 09:10</td>
                  <td>P</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>8/12</td>
              </tr>
              <tr>
                  <td>08:20 to 09:10</td>
                  <td>P</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>8/12</td>
              </tr>
              <tr>
                  <td>08:20 to 09:10</td>
                  <td>P</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>8/12</td>
              </tr>
              <tr>
                  <td>08:20 to 09:10</td>
                  <td>P</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>8/12</td>
              </tr>
              <tr>
                  <td>08:20 to 09:10</td>
                  <td>P</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>A</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>A</td>
                  <td>P</td>
                  <td>8/12</td>
              </tr>
              <!-- Add more rows as needed -->
          </tbody>
      </table>
  </div>
</div>
