<div class="grid-container">
  <div class="header">
      <h1>English</h1>
      <div>
          <a href="#">Dashboard</a>/
          <a href="#">Quizzes</a>/
          <span><p>K1UC120B PP</p></span>
      </div>
  </div>
  <div class="_container">
      <div class="assignment">
          <div class="details">
              <h3>CAT 3(23rd MARCH), B.TECH SEM 2</h3>
              <p>Deadline: 10 August 2023 Time: 11:59 p.m.</p>
          </div>
          <button class="action-button" onclick="attemptNow()">Attempt Now</button>
      </div>
      <div class="assignment">
          <div class="details">
              <h3>CAT 2(23rd MARCH), B.TECH SEM 2</h3>
              <p>Deadline: 10 August 2023 Time: 11:59 p.m.</p>
          </div>
          <button class="action-button" onclick="attemptNow()">Attempt Now</button>
      </div>
      <div class="assignment">
          <div class="details">
              <h3>CAT 1(23rd MARCH), B.TECH SEM 2</h3>
              <p>Deadline: 10 June 2023 Time: 11:59 p.m.</p>
          </div>
          <button class="action-button expired">Due Date Passed</button>
      </div>
  </div>
</div>
