<div class="management-section">
    <div class="header">
        <h1>Student Management</h1>
        <div class="content">
            <span><a href="#">Dashboard</a></span>
            <span>
                <p> / Student Management</p>
            </span>
        </div>
    </div>
    <div class="border-bottom"></div>
    <div class="boxes-container">
        <div class="box" >
            <img src="assets/images/school.jpg" alt="English" >
            <div class="filters">
                <select id="section">
                    <option value="" selected disabled>Section</option>
                    <option value="">Section A</option>
                    <option value="">Section B</option>
                    <option value="">Section C</option>
                    <!-- Add options here -->
                </select>

            </div>
            <div class="para">
                <span class="para">Class A</span>
            </div>
            <button routerLink="class-page">Select</button>
        </div>
        <div class="box" >
            <img src="assets/images/school.jpg" alt="English" >
            <div class="filters">
                <select id="section">
                    <option value="" selected disabled>Section</option>
                    <option value="">Section A</option>
                    <option value="">Section B</option>
                    <option value="">Section C</option>
                </select>

            </div>
            <div class="para">
                <span class="para">Class B</span>
            </div>
            <button routerLink="class-page">Select</button>
        </div>
        <div class="box" >
            <img src="assets/images/school.jpg" alt="English">
            <div class="filters">
                <select id="section">
                    <option value="" selected disabled>Section</option>
                    <option value="">Section A</option>
                    <option value="">Section B</option>
                    <option value="">Section C</option>
                </select>

            </div>
            <div class="para">
                <span class="para">Class C</span>
            </div>
            <button  routerLink="class-page">Select</button>
        </div>
        <div class="box" >
            <img src="assets/images/school.jpg" alt="English" >
            <div class="filters">
                <select id="section">
                    <option value="" selected disabled>Section</option>
                    <option value="">Section A</option>
                    <option value="">Section B</option>
                    <option value="">Section C</option>
                </select>

            </div>
            <div class="para">
                <span class="para">Class D</span>
            </div>
            <button routerLink="class-page">Select</button>
        </div>
        <div class="box" >
            <img src="assets/images/school.jpg" alt="English" >
            <div class="filters">
                <select id="section">
                    <option value="" selected disabled>Section</option>
                    <option value="">Section A</option>
                    <option value="">Section B</option>
                    <option value="">Section C</option>
                </select>
            </div>
            <div class="para">
                <span class="para">Class E</span>
            </div>
            <button routerLink="class-page">Select</button>
        </div>
        <div class="box" >
            <img src="assets/images/school.jpg" alt="English" >
            <div class="filters">
                <select id="section">
                    <option value="" selected disabled>Section</option>
                    <option value="">Section A</option>
                    <option value="">Section B</option>
                    <option value="">Section C</option>
                </select>

            </div>
            <div class="para">
                <span class="para">Class F</span>
            </div>
            <button routerLink="class-page">Select</button>
        </div>
        <div class="box" >
            <img src="assets/images/school.jpg" alt="English">
            <div class="filters">
                <select id="section">
                    <option value="" selected disabled>Section</option>
                    <option value="">Section A</option>
                    <option value="">Section B</option>
                    <option value="">Section C</option>
                </select>

            </div>
            <div class="para">
                <span class="para">Optional Class</span>
            </div>
            <button routerLink="class-page">Select</button>
        </div>
    </div>
</div>