<div class="class-page">
    <div class="header">
        <h1>Student Management</h1>
        <div class="content">
            <span><a href="#">Dashboard</a></span>
            <span><a href="#" class="mngmt">/Management</a></span>
            <span>
                <p>/ Class A / Section 'A'</p>
            </span>
        </div>
    </div>
    <div class="border-bottom"></div>
    <div class="class-info">
        <div class="section-info">
            <div class="card">
                <p>Student Information of Section 'A'</p>
            </div>
            <div class="card">
                <p>Number Of Students : 75</p>
            </div>
        </div>
        <div class="table-section">
            <table>
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Student Name</th>
                        <th>Student Photo</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td>Ranjan Kumar</td>
                        <td class="image-area">
                            <img src="assets/images/ranjan.jpg" alt="">
                        </td>
                        <td>
                            <button type="button" routerLink="student-page">Select</button>
                        </td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Ranjan Kumar</td>
                        <td class="image-area">
                            <img src="assets/images/ranjan.jpg" alt="">
                        </td>
                        <td>
                            <button type="button" routerLink="student-page">Select</button>
                        </td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Ranjan Kumar</td>
                        <td class="image-area">
                            <img src="assets/images/ranjan.jpg" alt="">
                        </td>
                        <td>
                            <button type="button" routerLink="student-page">Select</button>
                        </td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Ranjan Kumar</td>
                        <td class="image-area">
                            <img src="assets/images/ranjan.jpg" alt="">
                        </td>
                        <td>
                            <button type="button" routerLink="student-page">Select</button>
                        </td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Ranjan Kumar</td>
                        <td class="image-area">
                            <img src="assets/images/ranjan.jpg" alt="">
                        </td>
                        <td>
                            <button type="button" routerLink="student-page">Select</button>
                        </td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Ranjan Kumar</td>
                        <td class="image-area">
                            <img src="assets/images/ranjan.jpg" alt="">
                        </td>
                        <td>
                            <button type="button" routerLink="student-page">Select</button>
                        </td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Ranjan Kumar</td>
                        <td class="image-area">
                            <img src="assets/images/ranjan.jpg" alt="">
                        </td>
                        <td>
                            <button type="button" routerLink="student-page">Select</button>
                        </td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Ranjan Kumar</td>
                        <td class="image-area">
                            <img src="assets/images/ranjan.jpg" alt="">
                        </td>
                        <td>
                            <button type="button" routerLink="student-page">Select</button>
                        </td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Ranjan Kumar</td>
                        <td class="image-area">
                            <img src="assets/images/ranjan.jpg" alt="">
                        </td>
                        <td>
                            <button type="button" routerLink="student-page">Select</button>
                        </td>
                    </tr>
                    <tr>
                        <td>01</td>
                        <td>Ranjan Kumar</td>
                        <td class="image-area">
                            <img src="assets/images/ranjan.jpg" alt="">
                        </td>
                        <td>
                            <button type="button" routerLink="student-page">Select</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>