.container {
  width: 100%;
  /* height: fit-content; */
  max-width: 1250px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 40px;
  margin-top: 30px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.add-student {
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table {
  width: 100%;
  /* height: fit-content; */
  border-collapse: collapse;
  align-items: center;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

thead {
  background-color: #f0f0f0;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  font-weight: bold;
}

button.edit {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

button.delete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.action-button {
  width: 150px;
}

@media (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tr {
    margin-bottom: 10px;
  }

  td {
    padding-left: 50%;
    position: relative;
    text-align: right;
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: calc(50% - 20px);
    text-align: left;
    font-weight: bold;
  }

  .add-student {
    width: 100%;
  }
}

/* Pagination */
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  padding: 4px 16px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.pagination button.active {
  background-color: #4caf50;
  color: white;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #ddd;
}

/* Filter */
.search-box {
  margin-bottom: 20px;
}

.search-box input {
  border-radius: 10px;
  border: 1px solid grey;
  padding: 6px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
