<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
  integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<!-- <div class="main1"> -->
<div class="main2">
  <div class="first" *ngIf="student">
    <ul>
      <li>
        <strong><i class="fa-sharp-duotone fa-solid fa-user"></i></strong
        ><strong >{{student.studentName}}</strong>
      </li>
    </ul>
    <ul>
      <li class="li1">
        <strong><i class="fa-solid fa-graduation-cap"></i></strong>
        <strong >{{student.class}}</strong>
      </li>
      <li class="li2">
        <strong><i class="fa-sharp-duotone fa-solid fa-bookmark"></i></strong>
        <strong >RollNo :- {{student.enrollmentNumber}}</strong>
      </li>
    </ul>
    <div class="mid"></div>
    <ul>
      <li>
        <strong><i class="fa-solid fa-school"></i></strong>
        <strong>SMS Public School</strong>
      </li>
    </ul>
  </div>
  <div class="second">
    <ul>
      <div>
        <strong><i class="fa-sharp-duotone fa-solid fa-user"></i></strong>
        <strong routerLink="/studentlayout/studentprofile">Profile</strong>
      </div>
    </ul>
    <ul>
      <a>
        <strong><i class="fa-solid fa-key"></i></strong>
        <strong>Reset Password</strong>
      </a>
    </ul>
    <div class="mid"></div>
  </div>
  <div class="third">
    <ul>
      <a>
        <strong><i class="fa-solid fa-right-from-bracket"></i></strong>
        <strong (click)="logout()" class="logout">Logout</strong>
      </a>
    </ul>
  </div>
</div>
<!-- </div> -->
