<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
  integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<!-- <div class="main1"> -->
<div class="main2">
  <div class="first">
    <ul>
      <li>
        <strong><i class="fa-sharp-duotone fa-solid fa-user"></i></strong
        ><strong>Student</strong>
      </li>
    </ul>
    <ul>
      <li class="li1">
        <strong><i class="fa-solid fa-graduation-cap"></i></strong>
        <strong> B.Tech(cse) 2022-2023</strong>
      </li>
      <li class="li2">
        <strong><i class="fa-sharp-duotone fa-solid fa-bookmark"></i></strong>
        <strong>22222222222</strong>
      </li>
    </ul>
    <div class="mid"></div>
    <ul>
      <li>
        <strong><i class="fa-solid fa-school"></i></strong>
        <strong>Galgotias University greater Noida</strong>
      </li>
    </ul>
  </div>
  <div class="second">
    <ul>
      <div>
        <strong><i class="fa-sharp-duotone fa-solid fa-user"></i></strong>
        <strong>Profile</strong>
      </div>
    </ul>
    <ul>
      <a>
        <strong><i class="fa-solid fa-key"></i></strong>
        <strong>Reset Password</strong>
      </a>
    </ul>
    <div class="mid"></div>
  </div>
  <div class="third">
    <ul>
      <a>
        <strong><i class="fa-solid fa-right-from-bracket"></i></strong>
        <strong>Logout</strong>
      </a>
    </ul>
  </div>
</div>
<!-- </div> -->
