<div class="container">
  <h1>Teachers Lists</h1>
  <button class="add-student">Add Teacher</button>
  <table>
      <thead>
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Course</th>
              <th>Qualification</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Created At</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>1</td>
              <td>Om Prakash</td>
              <td>BCA</td>
              <td>P.H.D</td>
              <td>omgmail.com</td>
              <td>9876549878</td>
              <td>2023-05-28T02:32:53.000000Z</td>
              <td class="action-button">
                  <button class="edit">Edit</button>
                  <button class="delete">Delete</button>
              </td>
          </tr>
          <tr>
              <td>2</td>
              <td>Ved Prakash N</td>
              <td>bca</td>
              <td>M.Tech</td>
              <td>vedgmail.com</td>
              <td>9874569877</td>
              <td>2023-05-28T02:59:07.000000Z</td>
              <td class="action-button">
                  <button class="edit">Edit</button>
                  <button class="delete">Delete</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>