<div class="grid-container">
  <div class="header">
      <h1>Quizzes</h1>
      <div>
          <span><a href="#">Dashboard</a></span>
          <span><p>/ Quizzes</p></span>
      </div>
  </div>
  <div class="boxes-container">
      <div class="box">
          <img src="assets/images/physics.jpg" alt="English">
          <h3><b>PHYSICS</b></h3>
          <div class="progress-bar">
              <div class="progress-fill" style="width: 75%"></div>
          </div>
          <p><b>70 % completed</b></p>
      </div>
      <div class="box">
          <img src="assets/images/chemistry.jpg" alt="English">
          <h3><b>CHEMISTRY</b></h3>
          <div class="progress-bar">
              <div class="progress-fill" style="width: 75%"></div>
          </div>
          <p><b>70 % completed</b></p>
      </div>
      <div class="box">
          <img src="assets/images/biology.jpg" alt="English">
          <h3><b>BIOLOGY</b></h3>
          <div class="progress-bar">
              <div class="progress-fill" style="width: 75%"></div>
          </div>
          <p><b>70 % completed</b></p>
      </div>
      <div class="box">
          <img src="assets/images/hindi.webp" alt="English">
          <h3><b>HINDI</b></h3>
          <div class="progress-bar">
              <div class="progress-fill" style="width: 75%"></div>
          </div>
          <p><b>70 % completed</b></p>
      </div>
      <div class="box">
          <img src="assets/images/english.jpg" alt="English">
          <h3><b>ENGLISH</b></h3>
          <div class="progress-bar">
              <div class="progress-fill" style="width: 75%"></div>
          </div>
          <p><b>70 % completed</b></p>
      </div>
      <div class="box">
          <img src="assets/images/math.png" alt="English">
          <h3><b>MATHAMETICS</b></h3>
          <div class="progress-bar">
              <div class="progress-fill" style="width: 75%"></div>
          </div>
          <p><b>70 % completed</b></p>
      </div>
      <div class="box">
          <img src="assets/images/computer.jpeg" alt="English">
          <h3><b>COMPUTER</b></h3>
          <div class="progress-bar">
              <div class="progress-fill" style="width: 75%"></div>
          </div>
          <p><b>70 % completed</b></p>
      </div>
</div>
</div>