<div class="card-container">
  <div class="card" *ngFor="let student of studentList; let i = index">
    <div class="profile-image">
      <img src="https://via.placeholder.com/100" alt="Profile Picture" />
    </div>
    <div class="box">
      <h2>{{ i + 1 }}. {{ student.studentName }}</h2>
      <p><span class="label">Enrollment:</span> {{ student.enrollmentNumber }}</p>
      <p><span class="label">DOB:</span> {{ student.dateOfBirth | date: 'dd-MM-yyyy' }}</p>
      <p><span class="label">Mobile:</span> {{ student.mobile }}</p>
    </div>

    <div class="button-group">
      <button class="btn green">Fees Pay</button>
      <div class="dropdown">
        <button class="btn blue dropdown-toggle" type="button">
          Receipt
        </button>
        <div class="dropdown-menu show-on-hover">
          <button class="dropdown-item" >Admission</button>
          <button class="dropdown-item" (click)="downloadAdmissionReceipt(student.enrollmentNumber)">Fee</button>
        </div>
      </div>
      

    </div>
    <button class="btn orange">View Details</button>
  </div>
</div>
