<div class="container">
  <div class="main-content">
      <div class="home-section">
          <div class="card">
              <img src="assets/images/Quiz logo.png" alt="">
              <p>Quizzes</p>
          </div>
          <div class="card">
            <img src="assets/images/courses icon.jpg" alt="">
              <p>Courses</p>
          </div>
          <div class="card">
            <img src="assets/images/performance icon.png" alt="">
              <p>Performance</p>
          </div>
          <div class="card">
            <img src="assets/images/attendance icon.webp" alt="">
              <p>Attendance</p>
          </div>
          <div class="card">
            <img src="assets/images/time table icon.png" alt="">
              <p>Time Table</p>
          </div>
          <div class="card">
            <img src="assets/images/fee icon.png" alt="">
              <p>Fees</p>
          </div>
          <div class="card">
            <img src="assets/images/services icon.jpg" alt="">
              <p>Services</p>
          </div>
          <div class="card">
            <img src="assets/images/homework icon.png" alt="">
              <p>Homework</p>
          </div>
          <div class="card">
            <img src="assets/images/help icon.png" alt="">
              <p>Help</p>
          </div>
          

          
      </div>
  </div>
</div>
