<div class="container">
  <div class="main-content">
      <div class="home-section">
          <div class="card">
              <img src="assets/images/icon.jpg" alt="">
              <p>Content</p>
          </div>
          <div class="card">
            <img src="assets/images/icon.jpg" alt="">
              <p>Content</p>
          </div>
          <div class="card">
            <img src="assets/images/icon.jpg" alt="">
              <p>Content</p>
          </div>
          <div class="card">
            <img src="assets/images/icon.jpg" alt="">
              <p>Content</p>
          </div>
          <div class="card">
            <img src="assets/images/icon.jpg" alt="">
              <p>Content</p>
          </div>
          <div class="card">
            <img src="assets/images/icon.jpg" alt="">
              <p>Content</p>
          </div>
          <div class="card">
            <img src="assets/images/icon.jpg" alt="">
              <p>Content</p>
          </div>
          <div class="card">
            <img src="assets/images/icon.jpg" alt="">
              <p>Content</p>
          </div>
          <div class="card">
            <img src="assets/images/icon.jpg" alt="">
              <p>Content</p>
          </div>
          <div class="card">
            <img src="assets/images/icon.jpg" alt="">
              <p>Content</p>
          </div>
          <div class="card">
            <img src="assets/images/icon.jpg" alt="">
              <p>Content</p>
          </div>
          <div class="card">
            <img src="assets/images/icon.jpg" alt="">
              <p>Content</p>
          </div>
          <div class="card">
            <img src="assets/images/icon.jpg" alt="">
              <p>Content</p>
          </div>
          <div class="card">
            <img src="assets/images/icon.jpg" alt="">
              <p>Content</p>
          </div>
          <div class="card">
            <img src="assets/images/icon.jpg" alt="">
              <p>Content</p>
          </div>
          <div class="card">
            <img src="assets/images/icon.jpg" alt="">
              <p>Content</p>
          </div>
          <div class="card">
            <img src="assets/images/icon.jpg" alt="">
              <p>Content</p>
          </div>

          <div class="card">
            <img src="assets/images/icon.jpg" alt="">
              <p>Content</p>
          </div>
      </div>
  </div>
</div>
