<div class="time-table-section">
    <div class="header">
        <h1>Time Table</h1>
        <div class="content">
            <span><a href="#">Dashboard</a></span>
            <span>
                <p> / Time Table</p>
            </span>
        </div>
    </div>
    <div class="border-bottom">
        
    </div>
    <div class="search-section">
        <div class="card" id="card-1">
            <p>Acadmic Year : </p>
            <select>
                <option value="">please select</option>
                <option value="">o1</option>
                <option value="">o2</option>
                <option value="">o3</option>
                <option value="">o4</option>
                <option value="">o5</option>
            </select>

        </div>
        <div class="card">

            <p>Date : </p>
            <input type="date">

        </div>
        <div class="card">
            <p>Search : </p>
            <div class="search-area">
                <input type="search" placeholder="search here..">
            </div>
        </div>
    </div>
    <div class="time-table-area">
        <div class="first-table">
            <table>
                <caption>Timetable of 2024-25 for Class xyz</caption>
                <thead>
                    <tr>
                        <th>Time-Slots</th>
                        <th>Sunday</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednusday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>8:20-9:20</td>
                        <td>Data 1</td>
                        <td>Data 2</td>
                        <td>Data 3</td>
                        <td>Data 4</td>
                        <td>Data 5</td>
                        <td>Data 6</td>
                        <td>Data 7</td>
                    </tr>
                    <tr>
                        <td>8:20-9:20</td>
                        <td>Data 1</td>
                        <td>Data 2</td>
                        <td>Data 3</td>
                        <td>Data 4</td>
                        <td>Data 5</td>
                        <td>Data 6</td>
                        <td>Data 7</td>
                    </tr>
                    <tr>
                        <td>8:20-9:20</td>
                        <td>Data 1</td>
                        <td>Data 2</td>
                        <td>Data 3</td>
                        <td>Data 4</td>
                        <td>Data 5</td>
                        <td>Data 6</td>
                        <td>Data 7</td>
                    </tr>
                    <tr>
                        <td>8:20-9:20</td>
                        <td>Data 1</td>
                        <td>Data 2</td>
                        <td>Data 3</td>
                        <td>Data 4</td>
                        <td>Data 5</td>
                        <td>Data 6</td>
                        <td>Data 7</td>
                    </tr>
                    <tr>
                        <td>8:20-9:20</td>
                        <td>Data 1</td>
                        <td>Data 2</td>
                        <td>Data 3</td>
                        <td>Data 4</td>
                        <td>Data 5</td>
                        <td>Data 6</td>
                        <td>Data 7</td>
                    </tr>
                    <tr>
                        <td>8:20-9:20</td>
                        <td>Data 1</td>
                        <td>Data 2</td>
                        <td>Data 3</td>
                        <td>Data 4</td>
                        <td>Data 5</td>
                        <td>Data 6</td>
                        <td>Data 7</td>
                    </tr>
                    <tr>
                        <td>8:20-9:20</td>
                        <td>Data 1</td>
                        <td>Data 2</td>
                        <td>Data 3</td>
                        <td>Data 4</td>
                        <td>Data 5</td>
                        <td>Data 6</td>
                        <td>Data 7</td>
                    </tr>
                    <tr>
                        <td>8:20-9:20</td>
                        <td>Data 1</td>
                        <td>Data 2</td>
                        <td>Data 3</td>
                        <td>Data 4</td>
                        <td>Data 5</td>
                        <td>Data 6</td>
                        <td>Data 7</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="second-table">
            <table>
                <caption>Alternative Arrangement</caption>
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Faculty Name</th>
                        <th>Althernate Faculty Name</th>
                        <th>Slot</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td>11/08/2024</td>
                        <td>8:20-9:20</td>
                        <td>Teacher-1</td>
                        <td>Teacher-2</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td>11/08/2024</td>
                        <td>8:20-9:20</td>
                        <td>Teacher-1</td>
                        <td>Teacher-2</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td>11/08/2024</td>
                        <td>8:20-9:20</td>
                        <td>Teacher-1</td>
                        <td>Teacher-2</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td>11/08/2024</td>
                        <td>8:20-9:20</td>
                        <td>Teacher-1</td>
                        <td>Teacher-2</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td>11/08/2024</td>
                        <td>8:20-9:20</td>
                        <td>Teacher-1</td>
                        <td>Teacher-2</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td>11/08/2024</td>
                        <td>8:20-9:20</td>
                        <td>Teacher-1</td>
                        <td>Teacher-2</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>11/08/2024</td>
                        <td>8:20-9:20</td>
                        <td>Teacher-1</td>
                        <td>Teacher-2</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>11/08/2024</td>
                        <td>8:20-9:20</td>
                        <td>Teacher-1</td>
                        <td>Teacher-2</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>11/08/2024</td>
                        <td>8:20-9:20</td>
                        <td>Teacher-1</td>
                        <td>Teacher-2</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>11/08/2024</td>
                        <td>8:20-9:20</td>
                        <td>Teacher-1</td>
                        <td>Teacher-2</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>11/08/2024</td>
                        <td>8:20-9:20</td>
                        <td>Teacher-1</td>
                        <td>Teacher-2</td>
                        <td>Subject-1</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="third-table">
            <table>
                <caption>Timetable Details</caption>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Faculty Name</th>
                        <th>Slot</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td>8:20-920</td>
                        <td>Teacher-1</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td>8:20-920</td>
                        <td>Teacher-1</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td>8:20-920</td>
                        <td>Teacher-1</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td>8:20-920</td>
                        <td>Teacher-1</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td>8:20-920</td>
                        <td>Teacher-1</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td>8:20-920</td>
                        <td>Teacher-1</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>8:20-920</td>
                        <td>Teacher-1</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>8:20-920</td>
                        <td>Teacher-1</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>8:20-920</td>
                        <td>Teacher-1</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>8:20-920</td>
                        <td>Teacher-1</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>8:20-920</td>
                        <td>Teacher-1</td>
                        <td>Subject-1</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>8:20-920</td>
                        <td>Teacher-1</td>
                        <td>Subject-1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>