<div class="main-container">

  @if(isEdit){
  <h2>UPDATE TEACHER</h2>
  }
  @else {<h2>ADD TEACHER</h2>}

  <br>
  <div class="form-area">
    <form action="" #form="ngForm" novalidate>
      <div class="first">
        <div class="one">

          <label for="">Name</label>
          <div class="input">
            <input [(ngModel)]="teacher.name" name="name" #name="ngModel" required pattern="^[a-zA-Z\s]+$"
              [ngClass]="{ 'is-invalid': name.invalid && name.touched}">

            @if (name.touched && name.errors?.['required']){
            <span style="color: red;">This is Required*</span>
            }

            @else if (name.touched && name.errors?.['pattern']) {
            <span style="color: red;">Enter a Valid Name</span>
            }
          </div>
        </div>


        <div class="two">
          <label for="">Age</label>
          <div class="input">

            <input [(ngModel)]="teacher.age" name="age" type="number" #age="ngModel"
              [ngClass]="{ 'is-invalid': age.invalid && age.touched}" minlength="1" maxlength="3" required>
            @if (age.touched && age.errors?.['required']) {
            <span style="color: red;">This is Required*</span>
            }

          </div>
        </div>
      </div>


      <div class="third">
        <div class="one">
          <label for="">Email</label>
          <div class="input">
            <input [(ngModel)]="teacher.email" name="email" #email="ngModel" email
              [ngClass]="{ 'is-invalid': email.invalid}">
            @if (email.touched && email.errors?.['email']) {
            <span style="color: red;">Enter valid Email</span>
            }
          </div>
        </div>
        <div class="two">
          <label for="">Mobile</label>
          <div class="input">
            <input [(ngModel)]="teacher.mobile" #mobile="ngModel" name="mobile" required
              [ngClass]="{ 'is-invalid': mobile.invalid && mobile.touched}" minlength="10" maxlength="10"
              pattern="^[0-9]*$">
            @if (mobile.touched && mobile.errors?.['required']){
            <span style="color: red;">This is Required*</span>
            }

            @else if (mobile.touched && mobile.errors?.['minlength']) {
            <span style="color: red;">minimum 10 character required</span>
            }
            @else if (mobile.touched && mobile.errors?.['pattern']) {
            <span style="color: red;">Enter a Valid Number</span>
            }

          </div>
        </div>
      </div>
      <div class="fourth">
        <div class="one">
          <label for="">Father's Name</label>
          <div class="input">
            <input [(ngModel)]="teacher.fatherName" name="fatherName" #fatherName="ngModel" required
              pattern="^[a-zA-Z\s]+$" [ngClass]="{ 'is-invalid': fatherName.invalid && fatherName.touched}">
            @if (fatherName.touched && fatherName.errors?.['required']){
            <span style="color: red;">This is Required*</span>
            }

            @else if (fatherName.touched && fatherName.errors?.['pattern']) {
            <span style="color: red;">Enter a Valid Name</span>
            }
          </div>
        </div>
      </div>
      <div class="button-area">
        @if(isEdit){
        <button type="submit" (click)="Save()" [disabled]="form.invalid">Update</button>
        }
        @else{
        <button type="submit" (click)="postStudentData()" [disabled]="form.invalid">Submit</button>
        }
        <button type="button" (click)="goto()">Back</button>
      </div>
    </form>
  </div>

</div>
