<div class="leave-section">
  <div class="header">
    <h1>Homework</h1>
    <div class="content">
      <span><a href="#">Dashboard</a></span>
      <span>
        <p>/ Homework</p>
      </span>
    </div>
  </div>
  <div class="border-bottom"></div>
  <div class="leave-area">
    <div class="card" routerLink="/givenwork">
      <i class="ri-calendar-check-line"></i>
      <p>Give Homework</p>
    </div>
    <div class="card" routerLink="/homework">
      <i class="ri-calendar-check-line"></i>
      <p>Check Homework</p>
    </div>
  </div>
</div>
